<div class="container alternate-theme ">

  <mat-horizontal-stepper [linear]="true" #stepper>


    <mat-step>
      <ng-template matStepLabel>Lista de Programaciones</ng-template>
      <mat-card class="example-card">

        <mat-card-header>
          <div mat-card-avatar class="example-header-image" style="background-image: url('assets/avatars/av-5.png')">
          </div>
          <mat-card-title class="main-surala-text">Lista de Programaciones</mat-card-title>
          <mat-card-subtitle>Truchas Suralá</mat-card-subtitle>
          <mat-card-subtitle class="surala-azul-text">{{"Fechas de salida" |uppercase}}</mat-card-subtitle>

        </mat-card-header>
        <mat-card-actions>
          <div class="row">

            <div class="col-12 centerlabel font-weight-bold" style="text-align: center;">
              <button mat-raised-button color="primary" ngbAutofocus (click)="Agregar()">
                <mat-icon>add</mat-icon>
              </button>
            </div>

          </div>
        </mat-card-actions>
        <mat-card-content>
          <div class="table-responsive tilt-in-fwd-tr">
            <table id="customers" matTableExporter #exporter="matTableExporter" mat-table [dataSource]="dataSource"
              class="mat-elevation-z8">
              <ng-container matColumnDef="position">
                <th mat-header-cell *matHeaderCellDef> No. </th>
                <td mat-cell *matCellDef="let element; let i = index"> {{i + 1}} </td>
              </ng-container>



              <ng-container matColumnDef="FechaSalida">
                <th mat-header-cell *matHeaderCellDef> Fecha Salida </th>
                <td mat-cell *matCellDef="let element">
                  {{ element.fecha_salida.replace(' 00:00:00', 'T00:00:00') |date :"MMM/dd/yyyy" | uppercase }}
                </td>
              </ng-container>


              <ng-container matColumnDef="Semana">
                <th mat-header-cell *matHeaderCellDef> Semana</th>
                <td mat-cell *matCellDef="let element" style="text-align: center;"> {{element.numero_semana}} </td>
              </ng-container>

              <ng-container matColumnDef="dia">
                <th mat-header-cell *matHeaderCellDef> Día</th>
                <td mat-cell *matCellDef="let element" style="text-align: center;"> {{element.dia | uppercase}} </td>
              </ng-container>

              <ng-container matColumnDef="estado">
                <th mat-header-cell *matHeaderCellDef> Estado</th>
                <td mat-cell *matCellDef="let element" style="text-align: center;"> {{element.estado | uppercase}} </td>
              </ng-container>

              <ng-container matColumnDef="seleccionar">
                <th mat-header-cell *matHeaderCellDef> Asociar/Ver pedidos</th>
                <td mat-cell *matCellDef="let element" style="text-align: center;">
                  <button mat-raised-button id="logout-button" class="btn btn-primary btn-block" style="width:50%"
                    (click)="verPedidos(element)">
                    <mat-icon>airport_shuttle</mat-icon>

                  </button>


                </td>
              </ng-container>


              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
            <mat-paginator [pageSizeOptions]="[15, 30, 50]" showFirstLastButtons></mat-paginator>
          </div>



        </mat-card-content>

      </mat-card>

    </mat-step>
    <mat-step>
      <ng-template matStepLabel>Programación</ng-template>
      <mat-card>
        <mat-card-header>
          <div mat-card-avatar class="example-header-image" style="background-image: url('assets/avatars/av-4.png')">
          </div>
          <mat-card-title class="main-surala-text">Asociar Pedidos</mat-card-title>
          <mat-card-subtitle>Truchas Suralá</mat-card-subtitle>
          <mat-card-subtitle class="surala-azul-text">{{"Fechas de salida" |uppercase}}</mat-card-subtitle>
        </mat-card-header>

        <mat-card-content>

          <div class="row" *ngIf="seleccionado.despachado==false">
            <div class="col-4 form-group">
              <mat-form-field appearance="fill" floatLabel="always">
                <mat-label>Traer Semanas</mat-label>
                <mat-select (selectionChange)="CambioSemana($event.value)" [(ngModel)]="data.numeroSemana">
                  <mat-option *ngFor="let tipo of SemanasPedidos" [value]="tipo.value">
                    {{tipo.viewValue}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </div>

          <div #sindespachar *ngIf="seleccionado.despachado==false">


            <mat-card-title class="main-surala-text">Pedidos Pendientes</mat-card-title>

            <app-lista-pedido-alevinos [id]="entrada" [despacho]="seleccionado.id" [mostrar]="true" [asociar]="true"
              (datoSalid)='onNotificar($event)' (agregar)='onAgregar($event)'></app-lista-pedido-alevinos>

            <mat-divider></mat-divider>
          </div>
          <mat-card-title class="main-surala-text bajarTop" style=" padding-top: 10px;">Pedidos Asociados
          </mat-card-title>

          <app-lista-pedido-alevinos #dos [id]="salida" [mostrar]="false" [asociar]="false" [habilitado]="habilitado"
            (datoSalid)='onNotificar($event)' (devolver)='onDevolver($event)' (verInforme)="verInforme($event)">
          </app-lista-pedido-alevinos>

        </mat-card-content>

        <mat-card-actions>
          <div class="row">
            <div class="col-6 centerlabel font-weight-bold" style="text-align: center;">
              <button mat-raised-button color="primary" matStepperPrevious>
                <mat-icon>keyboard_backspace</mat-icon>
              </button>
            </div>


            <div class="col-6 centerlabel font-weight-bold" style="text-align: center;">
              <button mat-raised-button color="primary" [disabled]="salida.length == 0" (click)="Despachar()">
                <mat-icon>arrow_right_alt</mat-icon>
              </button>
            </div>

          </div>


        </mat-card-actions>

      </mat-card>

    </mat-step>
    <mat-step *ngIf="habilitado==false">
      <ng-template matStepLabel>Despachar</ng-template>
      <mat-card>
        <mat-card-header>
          <div mat-card-avatar class="example-header-image" style="background-image: url('assets/avatars/av-8.png')">
          </div>
          <mat-card-title class="main-surala-text">Programar Conductor</mat-card-title>
          <mat-card-subtitle>Truchas Suralá</mat-card-subtitle>
          <mat-card-subtitle class="surala-azul-text">{{"Despachar" |uppercase}}</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <mat-card-actions>
            <div #sindespachar2 *ngIf="seleccionado.despachado==false">
              <mat-card-title class="main-surala-text">Sin asociar Conductor</mat-card-title>
              <app-lista-pedido-alevinos #tres [id]="entradaSinConductor" [mostrar]="false" [asociar]="false"
                [habilitado]="habilitado" (datoSalid)='ConductorNotificar($event)' (devolver)='onDevolver($event)'
                [conductor]="false"></app-lista-pedido-alevinos>
              <mat-divider></mat-divider>
            </div>

            <div #sindespachar3 *ngIf="seleccionado.despachado==false">
              <mat-card-title class="main-surala-text bajarTop" style=" padding-top: 10px;">Listos para salir
              </mat-card-title>
            </div>
            <div #sindespachar4 *ngIf="seleccionado.despachado==true">
              <mat-card-title class="main-surala-text bajarTop" style=" padding-top: 10px;">Pedidos Que Salieron
              </mat-card-title>
            </div>
            <app-lista-pedido-alevinos #cuatro [id]="salidaConductor" [mostrar]="false" [asociar]="false"
              [habilitado]="habilitado" (datoSalid)='ConductorNotificar($event)' (devolver)='onDevolver($event)'
              [conductor]="true"></app-lista-pedido-alevinos>
          </mat-card-actions>
        </mat-card-content>
        <mat-card-actions>
          <div class="row">
            <div class="col-6 centerlabel font-weight-bold" style="text-align: center;">
              <button mat-raised-button color="primary" matStepperPrevious>
                <mat-icon>keyboard_backspace</mat-icon>
              </button>
            </div>
           
              <div class="col-6 centerlabel font-weight-bold" style="text-align: center;"  #sindespachar5 *ngIf="seleccionado.despachado==false">
                <button mat-raised-button color="primary" (click)="DespachoFinal()">
                  <mat-icon>cached</mat-icon>
                </button>
              </div>
           
          </div>

        </mat-card-actions>
      </mat-card>
    </mat-step>

    <mat-step *ngIf="habilitado==true">
      <ng-template matStepLabel>Informe</ng-template>
      <app-informe-pedido [idReporte]="idReporte"> </app-informe-pedido>
      <mat-card-actions>
        <div class="row">
          <div class="col-6 centerlabel font-weight-bold" style="text-align: center;">
            <button mat-raised-button color="primary" matStepperPrevious>
              <mat-icon>keyboard_backspace</mat-icon>
            </button>
          </div>


        

        </div>


      </mat-card-actions>
    </mat-step>

  </mat-horizontal-stepper>

</div>