<app-header titulo="Prefierenos" icon="accessibility-outline"></app-header>

<ion-content>

  <ion-card>
    <ion-card-header>
      <ion-card-title class="ovaCenter">10 razones para preferir</ion-card-title>
      <ion-card-subtitle class="blueCenter"> Troutlodge /Suralá </ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <ion-slides mode="ios" scrollbar="ios" (ionSlideDidChange)="subir()">
        <ion-slide *ngFor="let slide of slides; let index = i">
          
          <ion-card>
            <ion-card-header>
             <ion-card-title class="ovaCenter"># {{slide.number}}</ion-card-title>
             <ion-card-subtitle></ion-card-subtitle>
              <ion-img [src]="slide.imagen"></ion-img>
              <ion-img [src]="slide.imagen2"></ion-img>

            </ion-card-header>
            <ion-card-content>
            <ion-label class="blue" *ngFor="let item of slide.descripciones">
              {{item.descripcion}} </ion-label>
            </ion-card-content>
          </ion-card>
        
       
        
        </ion-slide>
        <ion-slide>
          <ion-card >
            <ion-card-header>
              <ion-card-title class="bandejaexitoso">Gracias</ion-card-title>
              <ion-grid cols="1" rowHeight="1:1" fixed>
                <ion-row style="text-align: center">
                  <ion-col>
        
                  </ion-col>
                  <ion-col>
                    <img src="./assets/avatars/av-2.png">
        
                  </ion-col>
                  <ion-col>
        
                  </ion-col>
                </ion-row>
                <ion-row>
                  <ion-col>
                    <p class="exitoso">
                      por preferirnos
                    </p>

                    <ion-back-button  defaultHref="/"  color="primary" text=""
                    icon="arrow-back-outline" ></ion-back-button>

        
                  </ion-col>
                </ion-row>
              </ion-grid>
            </ion-card-header>
            <ion-card-content>
            </ion-card-content>
          </ion-card>
        </ion-slide>
      </ion-slides>
    </ion-card-content>
  </ion-card>
</ion-content>