<app-header titulo="Prefierenos" icon="accessibility-outline"></app-header>

<ion-content>

  <ion-card>
    <ion-card-header>
      <ion-card-title class="ovaCenter">10 razones para preferir</ion-card-title>
      <ion-card-subtitle class="blueCenter"> Troutlodge /Suralá </ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <ion-slides mode="ios" scrollbar="ios">
        <ion-slide *ngFor="let slide of slides; let index = i">
          
          <ion-card>
            <ion-card-header>
             <ion-card-title class="ovaCenter"># {{slide.number}}</ion-card-title>
             <ion-card-subtitle></ion-card-subtitle>
              <ion-img [src]="slide.imagen"></ion-img>
              <ion-img [src]="slide.imagen2"></ion-img>

            </ion-card-header>
            <ion-card-content>
            <ion-label class="blue" *ngFor="let item of slide.descripciones">
              {{item.descripcion}} </ion-label>
            </ion-card-content>
          </ion-card>
        
       
        
        </ion-slide>
      </ion-slides>
    </ion-card-content>
  </ion-card>
</ion-content>