<mat-card>

    <div class="container">
        <mat-horizontal-stepper [linear]="false">
            <mat-step [stepControl]="firstFormGroup">
                <form [formGroup]="firstFormGroup" class="registroDespacho" (ngSubmit)="onRegister(firstFormGroup)">
                    <ng-template matStepLabel>Registro del despacho</ng-template>
                    <br>
                    <div class="row">
                        <div class="col-12 main-blue-text">
                            <label>{{title}}</label>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-2"></div>
                        <div class="col-4">



                            <mat-form-field appearance="fill">
                                <mat-label>Fecha de entrada</mat-label>
                                <input matInput formControlName="FechaEntrada" [matDatepicker]="pickerentrada"
                                    ng-keydown="$event.preventDefault();" [min]="minDate" [max]="maxDate"
                                    [(ngModel)]="despacho.fechaEntrada" required>
                                <mat-datepicker-toggle matSuffix [for]="pickerentrada">
                                </mat-datepicker-toggle>
                                <mat-datepicker touchUi #pickerentrada></mat-datepicker>
                                <!-- <input type="button" value="Agregar Fecha"/> -->

                            </mat-form-field>
                        </div>
                        <div class="col-4">



                            <mat-form-field appearance="fill">
                                <mat-label>Fecha de Salida</mat-label>
                                <input matInput formControlName="FechaSalida" [matDatepicker]="pickersalida"
                                    ng-keydown="$event.preventDefault();" [min]="despacho.fechaEntrada" [max]="maxDate"
                                    [(ngModel)]="despacho.fechaEntrega" required>
                                <mat-datepicker-toggle matSuffix [for]="pickersalida">
                                </mat-datepicker-toggle>
                                <mat-datepicker touchUi #pickersalida></mat-datepicker>
                                <!-- <input type="button" value="Agregar Fecha"/> -->

                            </mat-form-field>
                        </div>
                        <div class="col-2"></div>

                    </div>

                    <div class="row">
                        <div class="col-2"></div>

                        <div class="col-4">

                            <mat-form-field appearance="fill">
                                <mat-label>Número de Factura</mat-label>
                                <input matInput [(ngModel)]="despacho.numero_factura" formControlName="NumeroFactura"
                                    required />

                            </mat-form-field>

                        </div>
                        <div class="col-4">

                            <mat-form-field appearance="fill">
                                <mat-label>Número de Ovas</mat-label>
                                <input matInput type="number" [(ngModel)]="despacho.numero_ovas"  (ngModelChange)="calcularOvas()"
                                    formControlName="NumeroDeOvas" required />
                            </mat-form-field>
                        </div>
                            <div class="col-2"></div>

                        </div>

                        <div class="row">
                            <div class="col-2"></div>


                            <div class="col-4">

                                <mat-form-field appearance="fill">
                                    <mat-label>Número de Ovas Reposición</mat-label>
                                    <input matInput type="number" [(ngModel)]="despacho.ovas_reposicion"
                                        formControlName="reposicion" required />
                                </mat-form-field>

                            </div>
                            <div class="col-4">

                                <mat-form-field appearance="fill">
                                    <mat-label>Número de Ovas Regalo</mat-label>
                                    <input matInput type="number" [(ngModel)]="despacho.ovas_regalo"
                                        formControlName="NumeroDeOvasRegalo" required />
                                </mat-form-field>

                            </div>
                            <div class="col-2"></div>

                        </div>

                        <div class="row">
                            <div class="col-2"></div>


                            <div class="col-4">

                                <mat-form-field appearance="fill">
                                    <mat-label>% Adicional</mat-label>
                                    <input matInput type="number" [(ngModel)]="despacho.porcentaje"  (ngModelChange)="calcularOvas()"
                                        formControlName="Porcentaje" required min="0" max="100" />
                                </mat-form-field>

                            </div>
                            <div class="col-4">

                                <mat-form-field appearance="fill">
                                    <mat-label>Número de Ovas Adicionales</mat-label>
                                    <input matInput type="number" [(ngModel)]="despacho.ovas_adicionales"
                                        formControlName="NumeroDeOvasAdicionales" required />
                                </mat-form-field>

                            </div>

                            <div class="col-3"></div>


                        </div>


                        <div class="row">
                            <div class="col-3"></div>


                            <div class=col-6>

                                <button mat-raised-button type="submit" class="btn btn-primary btn-block"
                                    [disabled]="!firstFormGroup.valid">
                                    Crear Despacho
                                </button>

                            </div>

                            <div class="col-3"></div>


                        </div>


                </form>
            </mat-step>

        </mat-horizontal-stepper>
    </div>

</mat-card>