
<ion-list *ngIf="noMostrar==true">
  <ion-list-header class="ovas">
    Disponibles
  </ion-list-header>
  <ion-item-sliding #slidingItem *ngFor="let pedido of pedidos">
    <ion-item detail>
      <ion-avatar slot="start">
        <img src="../../../../../assets/avatars/av-1.png">
      </ion-avatar>
      <ion-label>

        <p class="ovas"> Fecha <label class="blue"> {{pedido.fecha_salida | date: "MMM/dd/yyyy" | uppercase}}</label>
        </p>

        <p class="ovas"> Finca <label class="blue"> {{ pedido.nombre}}</label></p>
        <p class="ovas"> Total <label class="blue">{{pedido.total| number}}</label></p>
        <p class="ovas">Pedido <label class="blue"> {{pedido.pedido| number}}</label></p>
        <p class="ovas"> Adicional: <label class="blue">{{pedido.porcentaje}}%</label></p>
        <p class="ovas">Reposición <label class="blue">{{pedido.reposicion| number}}</label></p>

      </ion-label>
      <ion-note slot="end" color="tertiary">
        <ion-button (click)="closeItem(slidingItem, pedido)">
          Reportar
          <ion-icon slot="end" name="sad-outline"></ion-icon>
        </ion-button>
      </ion-note>
    </ion-item>
    <ion-item-options side="end">
      <ion-item-option routerDirection="forward" (click)="closeItem(slidingItem, pedido)" expandable>  <ion-icon slot="end" name="sad-outline"></ion-icon>
      </ion-item-option>
    </ion-item-options>
  </ion-item-sliding>

</ion-list>

<div *ngIf="noMostrar==false">
  <app-preloading ></app-preloading>

</div>