.content-with-full-height{
    height: 100%;
  }
  
  .equal-sized-item{
    height: 14.2857%;
  }

  .equal-sized-item_v2{
    height: 33.33%;
  }
  // ion-menu {
  //   width: 40%;
  // }

  ion-row{
    width: 30%;
  }

  ion-list{
    height: 100%;

  }

  .blue{
    color: rgb(14, 105, 179);
  

  }
  .ovas{
  
    color: #f33d01;
   
  }