<div class="container alternate-theme">
  <mat-horizontal-stepper [linear]="false" #stepper>
    <mat-step>
      <ng-template matStepLabel>Mortalidades</ng-template>
      <mat-card class="example-card">
        <mat-card-header>

          <mat-card-title class="main-blue-text">
            Registro de Mortalidades
          </mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <div class="table-responsive">
            <table id="customers" matTableExporter #exporter="matTableExporter" mat-table [dataSource]="dataSource"
              class="mat-elevation-z8">
              <ng-container matColumnDef="position">
                <th mat-header-cell *matHeaderCellDef> No. </th>
                <td mat-cell *matCellDef="let element; let i = index"> {{i + 1}} </td>
              </ng-container>



              <ng-container matColumnDef="fecha">
                <th mat-header-cell *matHeaderCellDef> Fecha Despacho </th>
                <td mat-cell *matCellDef="let element">
                  {{ element.fecha |date :"MMM/dd/yyyy" | uppercase }} </td>
              </ng-container>

              <ng-container matColumnDef="total_ovas">
                <th mat-header-cell *matHeaderCellDef> Total Ovas </th>
                <td mat-cell *matCellDef="let element">
                  {{element.total_ovas | number}} </td>
              </ng-container>

              <ng-container matColumnDef="numero_ovas">
                <th mat-header-cell *matHeaderCellDef> # Ovas </th>
                <td mat-cell *matCellDef="let element">
                  {{element.numero_ovas | number}} </td>
              </ng-container>
              <ng-container matColumnDef="ovas_regalo">
                <th mat-header-cell *matHeaderCellDef> Ovas regalo </th>
                <td mat-cell *matCellDef="let element">
                  {{element.ovas_regalo | number}} </td>
              </ng-container>
              <ng-container matColumnDef="ovas_adicionales">
                <th mat-header-cell *matHeaderCellDef> Ovas adicionales </th>
                <td mat-cell *matCellDef="let element">
                  {{element.ovas_adicionales | number}} </td>
              </ng-container>
              <ng-container matColumnDef="ovas_reposicion">
                <th mat-header-cell *matHeaderCellDef> Ovas reposición </th>
                <td mat-cell *matCellDef="let element">
                  {{element.ovas_reposicion | number}} </td>
              </ng-container>
              <ng-container matColumnDef="cantidad">
                <th mat-header-cell *matHeaderCellDef> # Mortalidad</th>
                <td mat-cell *matCellDef="let element">
                  {{element.cantidad | number}} </td>
              </ng-container>
              <ng-container matColumnDef="porcentaje">
                <th mat-header-cell *matHeaderCellDef> %</th>
                <td mat-cell *matCellDef="let element">
                  {{element.porcentaje | number}}% </td>
              </ng-container>


              <ng-container matColumnDef="detalle">
                <th mat-header-cell *matHeaderCellDef> Ver</th>
                <td mat-cell *matCellDef="let element">
                  <button mat-raised-button color="primary" id="logout-button" class="btn btn-primary btn-block"
                    style="width:50%" (click)="VerRegistros(element)">
                    <mat-icon>healing</mat-icon>
                  </button>
              </ng-container>
              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
            <mat-paginator [pageSizeOptions]="[15, 30, 50]" showFirstLastButtons></mat-paginator>
            <button mat-raised-button
              (click)="exporter.exportTable('xlsx', {fileName:'test', sheet: 'sheet_name', Props: {Author: 'Talha'}})">Excel</button>
          </div>
        </mat-card-content>
      </mat-card>
    </mat-step>

    <mat-step>
      <ng-template matStepLabel>Usuarios</ng-template>

      <mat-card>
        <mat-card-header>

          <mat-card-title class="main-blue-text">
            Registro de Mortalidades por usuario
          </mat-card-title>
        </mat-card-header>
        <div class="table-responsive" *ngIf="detalleUsuarios!=null">
          <table id="customers" matTableExporter #exporter="matTableExporter" mat-table [dataSource]="dataSourceDetalle"
            class="mat-elevation-z8">
            <ng-container matColumnDef="position">
              <th mat-header-cell *matHeaderCellDef> No. </th>
              <td mat-cell *matCellDef="let element; let i = index"> {{i + 1}} </td>
            </ng-container>



            <ng-container matColumnDef="fecha">
              <th mat-header-cell *matHeaderCellDef> Fecha de Reporte </th>
              <td mat-cell *matCellDef="let element">
                {{ element.fecha |date :"MMM/dd/yyyy" | uppercase }} </td>
            </ng-container>

            <ng-container matColumnDef="nombre">
              <th mat-header-cell *matHeaderCellDef> Nombre </th>
              <td mat-cell *matCellDef="let element">
                {{element.nombre | uppercase}} </td>
            </ng-container>

            <ng-container matColumnDef="finca">
              <th mat-header-cell *matHeaderCellDef> Finca </th>
              <td mat-cell *matCellDef="let element">
                {{element.finca | uppercase}} </td>
            </ng-container>
            <ng-container matColumnDef="total">
              <th mat-header-cell *matHeaderCellDef> Total pedido</th>
              <td mat-cell *matCellDef="let element">
                {{element.total | number}} </td>
            </ng-container>
            <ng-container matColumnDef="cantidad">
              <th mat-header-cell *matHeaderCellDef> Mortalidad </th>
              <td mat-cell *matCellDef="let element">
                {{element.cantidad | number}} </td>
            </ng-container>
            <ng-container matColumnDef="porcentaje">
              <th mat-header-cell *matHeaderCellDef> Porcentaje </th>
              <td mat-cell *matCellDef="let element">
                {{element.porcentaje | number}}% </td>
            </ng-container>
            <ng-container matColumnDef="detalle">
              <th mat-header-cell *matHeaderCellDef> Ver</th>
              <td mat-cell *matCellDef="let element">
                <button mat-raised-button color="primary" id="logout-button" class="btn btn-primary btn-block"
                  style="width:50%" (click)="VerDetalle(element)">
                  <mat-icon>healing</mat-icon>
                </button>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumnsRegistros"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumnsRegistros;"></tr>
          </table>
          <mat-paginator [pageSizeOptions]="[15, 30, 50]" showFirstLastButtons></mat-paginator>
          <button mat-raised-button
            (click)="exporter.exportTable('xlsx', {fileName:'mortalidad', sheet: 'mortalidad', Props: {Author: 'Truchas Surala'}})">Excel</button>
        </div>
        <div class="col-12">
          <button type="button" matStepperPrevious mat-raised-button color="primary">Volver</button>

        </div>
      </mat-card>

    </mat-step>
    <mat-step>
      <ng-template matStepLabel>Detalle Mortalidad.</ng-template>

      <mat-card class="example-card" *ngIf="Respuestas!=null">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image" style="background-image: url('assets/avatars/av-1.png')">
          </div>
          <mat-card-title class="main-blue-text">Detalle Mortalidad </mat-card-title>
          <mat-card-title class="main-blue-text">
            Nombre: {{usuario.nombre |uppercase}}
          </mat-card-title>
        
        </mat-card-header>
        <mat-card-content>
      
          <div class="col-12">
            <button type="button" (click)="abrirAprobacion()" mat-raised-button color="primary">Aprobar</button>
  
          </div>
              <mat-grid-list cols="4" rowHeight="170px">

                <mat-grid-tile colspan="2">
                  <mat-card-header>
                    
                    <mat-card-subtitle>
                      Finca: {{usuario.finca |uppercase}}
                    </mat-card-subtitle>
                    <mat-card-subtitle>
                      Fecha: {{usuario.fecha  |date :"MMM/dd/yyyy" | uppercase }}
                    </mat-card-subtitle>
                    <mat-card-subtitle>
                      Cantidad del Pedido: {{usuario.total | number }}
                    </mat-card-subtitle>
                    <mat-card-subtitle>
                      Porcentaje: {{usuario.porcentaje | number }}%
                    </mat-card-subtitle>
                    <mat-card-subtitle>
                      Cantidad: {{usuario.cantidad | number }}
                    </mat-card-subtitle>

                  </mat-card-header>
                </mat-grid-tile>
       
                <mat-grid-tile rowspan="6" colspan="2">
                  <div class="row">
                    <div class="table-responsive" stlye="width:70% !important">
                      <table id="customers" #Integrantes mat-table [dataSource]="RegistroDiario"
                        class="mat-elevation-z8 participantes">



                        <ng-container matColumnDef="dia">
                          <th mat-header-cell *matHeaderCellDef> Dia. </th>
                          <td mat-cell *matCellDef="let element"> {{element.dia }} </td>
                        </ng-container>


                        <ng-container matColumnDef="cantidad">
                          <th mat-header-cell *matHeaderCellDef>Cantidad</th>
                          <td mat-cell *matCellDef="let element; let i  = index">
                            <mat-label>{{element.cantidad |number}}</mat-label>
                          </td>
                        </ng-container>

                        <ng-container matColumnDef="registrado">
                          <th mat-header-cell *matHeaderCellDef>Registro</th>
                          <td mat-cell *matCellDef="let element; let i  = index">
                            <mat-label *ngIf="element.created_at!=element.updated_at">
                              {{ element.updated_at |date :"MMM/dd/yyyy HH:mm" | uppercase }}</mat-label>

                            <mat-label *ngIf="element.created_at==element.updated_at">
                              SIN REGISTRO</mat-label>
                          </td>
                        </ng-container>


                        <tr mat-header-row *matHeaderRowDef="displayedColumnsDias"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumnsDias;"></tr>
                      </table>


                    </div>
                  </div>
                </mat-grid-tile>
              
                <mat-grid-tile rowspan="4" colspan="2" class="my-grid-tile">
                  <table width="100%" border="0">
                    <tr>
                      <td>
                        <mat-label class="descripcion">
                          Fuente de agua de la incubación  
                        </mat-label>
                      </td>
                      <td>
                        <mat-label class="descripcionTexto">
                          {{Respuestas.fuente_agua_incubacion | uppercase}}
                        </mat-label>
                      </td>
                    <tr>
                    <tr>
                      <td>
                        <mat-label class="descripcion">
                          Origen del agua de la incubación:  
                        </mat-label>
                      </td>
                      <td>
                        <mat-label class="descripcionTexto">
                          {{Respuestas.origen_agua_incubacion | uppercase}}
                        </mat-label>
                      </td>
                    <tr>
                      <tr>
                        <td>
                          <mat-label class="descripcion">
                            Metodo de Aclimatación:
                          </mat-label>
                        </td>
                        <td>
                          <mat-label class="descripcionTexto">
                            {{Respuestas.uso_agua_incubacion | uppercase}}
                          </mat-label>
                        </td>
                      <tr>
                    <tr>
                      <td>
                        <mat-label class="descripcion">
                          Uso del agua de la incubación: 
                        </mat-label>
                      </td>
                      <td>
                        <mat-label class="descripcionTexto">
                          {{Respuestas.uso_agua_incubacion | uppercase}}
                        </mat-label>
                      </td>
                    <tr>
                    <tr>
                      <td>
                        <mat-label class="descripcion">
                          Nivel de Oxigeno: 
                        </mat-label>
                      </td>
                      <td>
                        <mat-label class="descripcionTexto">
                          {{Respuestas.nivel_oxigeno | number}}
                        </mat-label>
                      </td>
                    <tr>
                    <tr>
                      <td>
                        <mat-label class="descripcion">
                          Aclimatación
                        </mat-label>
                      </td>
                      <td>
                        <mat-label class="descripcionTexto">
                          {{'Horas: ' + Respuestas.hora_aclimatacion +'Min: '+Respuestas.minutos_aclimatacion | uppercase}}
                        </mat-label>
                      </td>
                    <tr>
                   
                      <td>
                        <mat-label class="descripcion">
                          Temperatura Ovas al Llegar
                        </mat-label>
                      </td>
                      <td>
                        <mat-label class="descripcionTexto">
                          {{Respuestas.temp_ovas_llegar | number}}
                        </mat-label>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <mat-label class="descripcion">
                          Temperatura agua al incubar
                        </mat-label>
                      </td>
                      <td>
                        <mat-label class="descripcionTexto">
                          {{Respuestas.temp_agua_incubacion | number}}
                        </mat-label>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <mat-label class="descripcion">
                          Bandeja Superior
                        </mat-label>
                      </td>
                      <td>
                        <mat-label class="descripcionTexto">
                          {{Respuestas.temp_bandeja_superior | number}}
                        </mat-label>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <mat-label class="descripcion">
                          Bandeja Intermedia
                        </mat-label>
                      </td>
                      <td>
                        <mat-label class="descripcionTexto">
                          {{Respuestas.temp_bandeja_intermedia | number}}
                        </mat-label>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <mat-label class="descripcion">
                          Bandeja Inferior
                        </mat-label>
                      </td>
                      <td>
                        <mat-label class="descripcionTexto">
                          {{Respuestas.temp_bandeja_inferior | number}}
                        </mat-label>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <mat-label class="descripcion">
                          Hielo Superior
                        </mat-label>
                      </td>
                      <td>
                        <mat-label class="descripcionTexto">
                          {{Respuestas.hielo_bandeja_superior }}
                        </mat-label>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <mat-label class="descripcion">
                          Hielo Intermedio
                        </mat-label>
                      </td>
                      <td>
                        <mat-label class="descripcionTexto">
                          {{Respuestas.hielo_bandeja_intermedia }}
                        </mat-label>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <mat-label class="descripcion">
                          Hielo Inferior
                        </mat-label>
                      </td>
                      <td>
                        <mat-label class="descripcionTexto">
                          {{Respuestas.hielo_bandeja_inferior }}
                        </mat-label>
                      </td>
                    </tr>


                    <tr>
                      <td>
                        <mat-label class="descripcion">
                          Utilizo transporte con refrigeración?
                        </mat-label>
                      </td>
                      <td>
                        <mat-label class="descripcionTexto">
                          {{Respuestas.utilizo_transporte == true? "SI": "NO" }}
                        </mat-label>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <mat-label class="descripcion">
                          Demora en la llegada?
                        </mat-label>
                      </td>
                      <td>
                        <mat-label class="descripcionTexto">
                          {{Respuestas.demora_llegada == true? "SI": "NO" }}
                        </mat-label>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <mat-label class="descripcion">
                          Hubo daño en las cajas?
                        </mat-label>
                      </td>
                      <td>
                        <mat-label class="descripcionTexto">
                          {{Respuestas.danio_cajas == true? "SI": "NO" }}
                        </mat-label>
                      </td>
                    </tr>

                    <tr>
                      <td>
                        <mat-label class="descripcion">
                          Ha hecho algún cambio reciente en la granja?
                        </mat-label>
                      </td>
                      <td>
                        <mat-label class="descripcionTexto">
                          {{Respuestas.cambioGranja == true? "SI": "NO" }}
                        </mat-label>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <mat-label class="descripcion">
                          Obtuvo resultados distintos o eclosionan de manera distinta?
                        </mat-label>
                      </td>
                      <td>
                        <mat-label class="descripcionTexto">
                          {{Respuestas.distintas == true? "SI": "NO" }}
                        </mat-label>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <mat-label class="descripcion">
                          ha observado un problema similar anteriormente?
                        </mat-label>
                      </td>
                      <td>
                        <mat-label class="descripcionTexto">
                          {{Respuestas.similar == true? "SI": "NO" }}
                        </mat-label>
                      </td>
                    </tr>


                    <tr>
                      <td>
                        <mat-label class="descripcion">
                          Llegada de las Ovas
                        </mat-label>
                      </td>
                      <td>
                        <mat-label class="descripcionTexto">
                          {{Respuestas.llegada_ovas   |date :"MMM/dd/yyyy HH:mm" | uppercase }}
                        </mat-label>
                      </td>
                    </tr>

                    <tr>
                      <td>
                        <mat-label class="descripcion">
                          Llegada de las Ovas a la finca
                        </mat-label>
                      </td>
                      <td>
                        <mat-label class="descripcionTexto">
                          {{Respuestas.llegada_ovas_finca   |date :"MMM/dd/yyyy HH:mm" | uppercase }}
                        </mat-label>
                      </td>
                    </tr>

                    <tr>
                      <td>
                        <mat-label class="descripcion">
                          Apertura de las cajas
                        </mat-label>
                      </td>
                      <td>
                        <mat-label class="descripcionTexto">
                          {{Respuestas.apertura_cajas   |date :"MMM/dd/yyyy HH:mm" | uppercase }}
                        </mat-label>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <mat-label class="descripcion">
                          Inicio de Hidratación
                        </mat-label>
                      </td>
                      <td>
                        <mat-label class="descripcionTexto">
                          {{Respuestas.inicio_hidratacion   |date :"MMM/dd/yyyy HH:mm" | uppercase }}
                        </mat-label>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <mat-label class="descripcion">
                          Inicio Siembra
                        </mat-label>
                      </td>
                      <td>
                        <mat-label class="descripcionTexto">
                          {{Respuestas.inicio_siembra   |date :"MMM/dd/yyyy HH:mm" | uppercase }}
                        </mat-label>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <mat-label class="descripcion">
                          Finalización Siembra
                        </mat-label>
                      </td>
                      <td>
                        <mat-label class="descripcionTexto">
                          {{Respuestas.finalizacion_siembra   |date :"MMM/dd/yyyy HH:mm" | uppercase }}
                        </mat-label>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <mat-label class="descripcion">
                          Inicio Eclosión
                        </mat-label>
                      </td>
                      <td>
                        <mat-label class="descripcionTexto">
                          {{Respuestas.inicio_eclosion   |date :"MMM/dd/yyyy HH:mm" | uppercase }}
                        </mat-label>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <mat-label class="descripcion">
                          Fin Eclosión
                        </mat-label>
                      </td>
                      <td>
                        <mat-label class="descripcionTexto">
                          {{Respuestas.inicio_eclosion   |date :"MMM/dd/yyyy HH:mm" | uppercase }}
                        </mat-label>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <mat-label class="descripcion">
                          Fecha Inicio Problema
                        </mat-label>
                      </td>
                      <td>
                        <mat-label class="descripcionTexto">
                          {{Respuestas.fecha_inicioProblema   |date :"MMM/dd/yyyy HH:mm" | uppercase }}
                        </mat-label>
                      </td>
                    </tr>
                  </table>
                </mat-grid-tile>



              </mat-grid-list>
           
       
        </mat-card-content>
      </mat-card>
      <div class="col-12">
        <button type="button" matStepperPrevious mat-raised-button color="primary">Volver</button>

      </div>
    </mat-step>
  </mat-horizontal-stepper>
</div>