<ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
  <ion-refresher-content pullingIcon="chevron-down-circle-outline" pullingText="Pull to refresh"
    refreshingSpinner="circles" refreshingText="Refreshing...">
  </ion-refresher-content>
</ion-refresher>
<ion-buttons>
  <ion-buttons slot="start">

  </ion-buttons>
</ion-buttons>
<div *ngIf="noMostrar==false">
  <ion-card *ngFor="let despacho of despachos" class="swirl-in-fwd">
    <ion-card-header>
      <ion-card-title class="ovasTitulo">
        <ion-icon name="cart-outline"></ion-icon>
        {{despacho.fecha_salida.replace(' 00:00:00', 'T00:00:00') | date: "MMM/dd/yyyy" | uppercase}}
      </ion-card-title>
      <ion-card-subtitle></ion-card-subtitle>

      <!-- <ion-img src="https://cdn.needish.tools/is-prod-deals/ZTT2WXf38Do4jIh3HLdzGg/scale/900x600.jpg"></ion-img> -->
    </ion-card-header>
    <ion-card-content class="blue">

      <ion-grid fixed>
        <ion-row>
          <ion-col size="12">
            <p>Estado de llegada: {{despacho.estado_llegada}}</p>
            <p>Dias Retraso de llegada: {{despacho.dias_retraso}}</p>

            <p>Temperatura de llegada: {{despacho.temperatura}}°C</p>
            <div *ngIf="despacho.observaciones!= null">
              <p>
                Observaciones:
              </p>
              <p style="white-space: pre-wrap; padding-left: 70px;">{{despacho.observaciones}}</p>

            </div>
          </ion-col>

        </ion-row>
      </ion-grid>


      <ion-buttons>
        <ion-button *ngIf="ValidarFotos(despacho.id)==true" (click)="verFotos(despacho.id)">
          <ion-icon slot="icon-only" name="film-outline"></ion-icon>
        </ion-button>
        <ion-button color="primary" *ngIf="despacho.certificado!='pendiente'" (click)="presentModal(despacho)">
          <!-- <ion-button color="primary" *ngIf="despacho.certificado!='pendiente'" [routerLink]="'/certificados/'+despacho.id+'/'+despacho.certificado+'/certificado'"> -->
          <ion-icon slot="icon-only" name="cash-outline"></ion-icon>
        </ion-button>


        <ion-button color="primary" [routerLink]="'/pedidos/'+despacho.id" expand="block" fill="clear" shape="round">

          <ion-icon slot="icon-only" name="reorder-three-outline"></ion-icon>
        </ion-button>
      </ion-buttons>

    </ion-card-content>
  </ion-card>
</div>
<div *ngIf="noMostrar==true">

  <ion-card *ngFor="let item of [1,1,1,1,1]" class="animated flash slow infinite">
    <ion-card-header>
      <ion-card-title>
        <ion-icon name="cart-outline"></ion-icon>
        <ion-skeleton-text width="40%"></ion-skeleton-text>
      </ion-card-title>
      <ion-card-subtitle></ion-card-subtitle>

      <!-- <ion-img src="https://cdn.needish.tools/is-prod-deals/ZTT2WXf38Do4jIh3HLdzGg/scale/900x600.jpg"></ion-img> -->
    </ion-card-header>
    <ion-card-content>
      <div class="row">
        <div class="col-4">
          <ion-label>
            <ion-skeleton-text width="40%"></ion-skeleton-text>

          </ion-label>
        </div>
        <div class="col-4">
          <ion-label>
            <ion-skeleton-text width="40%"></ion-skeleton-text>

          </ion-label>
        </div>
        <div class="col-4">
          <ion-label>
            <ion-skeleton-text width="40%"></ion-skeleton-text>

          </ion-label>
        </div>
        <div class="col-4">
          <ion-label>
            <ion-skeleton-text width="40%"></ion-skeleton-text>

          </ion-label>
        </div>
        <div class="col-4">
          <ion-label>
            <ion-skeleton-text width="40%"></ion-skeleton-text>
          </ion-label>
        </div>
        <div class="col-4">
          <ion-label>
            <ion-skeleton-text width="40%"></ion-skeleton-text>
          </ion-label>
        </div>
        <div class="col-4">
          <ion-label>
            <ion-skeleton-text width="40%"></ion-skeleton-text>
          </ion-label>

        </div>
      </div>

      <ion-toolbar>
        <ion-buttons slot="secondary">
          <ion-label slot="end" text-left>
            <ion-skeleton-text width="40px"></ion-skeleton-text>

          </ion-label>
        </ion-buttons>

        <ion-buttons slot="primary">
          <ion-label slot="end" text-right>
            <ion-skeleton-text width="40px"></ion-skeleton-text>

          </ion-label>
        </ion-buttons>
      </ion-toolbar>


    </ion-card-content>
  </ion-card>
</div>