<div class="container alternate-theme">
  <mat-card class="example-card" style="text-align: center;">

    <mat-card-header>
      <div mat-card-avatar class="example-header-image" style="background-image: url('assets/avatars/av-6.png')">
      </div>
      <mat-card-title class="main-surala-text"> <mat-icon color="primary">check_circle</mat-icon>Registro Exitoso</mat-card-title>
      <mat-card-subtitle>Truchas Surala</mat-card-subtitle>
    </mat-card-header>
   

    <mat-card-content>
      <p>
        Registro Exitoso
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="primary" (click)="close()">OK</button>
    </mat-card-actions>
  </mat-card>
</div>