/* You can add global styles to this file, and also import other style files */

/* @import '@angular/material/prebuilt-themes/deeppurple-amber.css'; */


html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }



mat-dialog-container#modal-component {
  border: 3px solid #262626;
  border-radius: 11px;
  background-color: #1a1a1a;
}


.cdk-overlay-container
 {

    position: fixed;
    z-index: 99999 !important;

 }

.container{ 
  max-width: 100% !important;
}
 .surala-azul{
  background-color: rgb(14, 105, 179);
  opacity: 100%;
  color: white;

 }
 

 body > app-root > div > nav > a
{
  color: white;
 }
 

 .main-blue-text{
   color:  rgb(14, 105, 179);
   font-size: xx-large;
   filter:opacity(0.8);
   padding-left: 10px;
   
 }


 body {
  text-align: center;
}
form {
  display: inline-block;
}

table {
  width: 100%;
}




body {
  text-align: center;
}
form {
  display: inline-block;
}

table {
  width: 100%;
}


#customers {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#customers td, #customers th {
  border: 1px solid #ddd;
  padding: 8px;
}

#customers tr:nth-child(even){background-color: #f2f2f2;}

#customers tr:hover {background-color: #ddd;}

#customers th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  background-color: #f33d01;
  color: white;
}


.descripcion{
  font-weight: bold;
  color: #f33d01
}

.descripcionTexto{
 color: rgb(14, 105, 179);
 padding-left: 1px;

}


.table-responsive {
  display: block;
  width: 100%;
  overflow-x: auto;
  .mat-table {
      width: 100%;
      max-width: 100%;
      margin-bottom: 1rem;
      display: table;
      border-collapse: collapse;
      margin: 0px;
  }
  .mat-row,
  .mat-header-row {
      display: table-row;
  }
  .mat-cell,
  .mat-header-cell {
      word-wrap: initial;
      display: table-cell;
      padding: 0px 5px;
      line-break: unset;
      width: auto;
      white-space: nowrap;
      overflow: hidden;
      vertical-align: middle;
  }
}

