<mat-card class="example-card center">
    <mat-card-header>
    </mat-card-header>

    <mat-card-content>

        <mat-grid-list cols="3" rowHeight="100px">
            <mat-grid-tile>
                <img mat-card-image class="imgSurala" src="./assets/logo/Logo_Surala.png" alt="surala">

            </mat-grid-tile>
            <mat-grid-tile>
                <header>
                    <h1>Plan de Control</h1>
                    <p class="tagline">1.3 Programa de Trazabilidades</p>
                </header>
                
            
            </mat-grid-tile>
            <mat-grid-tile>
                <img mat-card-image class="imgTroutlodge" src="./assets/logo/Troutlodge.png" alt="Troutlodge">

            </mat-grid-tile>
        </mat-grid-list>
        <mat-grid-list cols="2" rowHeight="1:1">
            <mat-grid-tile class="corner">
                <div class="container">
                    <div class="row">
                        <div class="text-center center">
                            <label style="font-weight: bold;">INFORMACIÓN GENERAL</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6 text-left">
                            <label>FECHA ENTREGA</label>
                        </div>
                        <div class="col-6 text-center">


                            <label>
                                {{ contacto.FechaEntrega.replace(' 00:00:00', 'T00:00:00') |date :"MMM/dd/yyyy" | uppercase }}
                            </label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6 text-left">
                            <label>CLIENTE</label>
                        </div>
                        <div class="col-6 text-center">
                            <label>{{contacto.Cliente | uppercase}}</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6 text-left">
                            <label>FINCA</label>
                        </div>
                        <div class="col-6 text-center">
                            <label>{{contacto.Finca | uppercase}}</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6 text-left">
                            <label>DESTINO</label>
                        </div>
                        <div class="col-6 text-center">
                            <label>{{contacto.Destino }}</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6 text-left">
                            <label>REMISIÓN #</label>
                        </div>
                        <div class="col-6 text-center">
                            <label>{{contacto.Remision | uppercase}}</label>
                        </div>
                    </div>


                    <div class="row">
                        <div class="text-center center">
                            <label style="font-weight: bold;">TRAZABILIDAD DEL LOTE</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6 text-left">
                            <label>LOTE #</label>
                        </div>
                        <div class="col-6 text-center">
                            <label>{{Lote}}</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6 text-left">
                            <label>FECHA DESOVE</label>
                        </div>
                        <div class="col-6 text-center">

                            <label>{{ Fecha.replace(' 00:00:00', 'T00:00:00') |date :"MMM/dd/yyyy" | uppercase }}
                            </label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6 text-left">
                            <label>LÍNEA GENÉTICA</label>
                        </div>
                        <div class="col-6 text-center">
                            <label>{{lineaGenetica}}</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6 text-left">
                            <label>EDAD (TCU)</label>
                        </div>
                        <div class="col-6 text-center">
                            <label>{{edad}}</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6 text-left">
                            <label>TAMAÑO OVA (mm)</label>
                        </div>
                        <div class="col-6 text-center">
                            <label>{{Tamanio}}</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6 text-left">
                            <label>OVAS/ml</label>
                        </div>
                        <div class="col-6 text-center">
                            <label>{{ovas_ml}}</label>
                        </div>
                    </div>
                    <div class="row"></div>
                </div>
            </mat-grid-tile>
            <mat-grid-tile class="corner">
                <div class="container">



                    <div class="row">
                        <div class="center text-center">
                            <label style="font-weight: bold;">INFORMACIÓN DEL DESPACHO</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6 text-left">
                            <label>#OVAS FACTURADAS</label>
                        </div>
                        <div class="col-6 text-center">
                            <label>{{contacto.Facturado | number}}</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6 text-left">
                            <label>#OVAS ADICIONALES</label>
                        </div>
                        <div class="col-6 text-center">
                            <label>{{contacto.Adicionales | number}}</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6 text-left">
                            <label>#OVAS REPOSICION</label>
                        </div>
                        <div class="col-6 text-center">
                            <label>{{contacto.Reposicion | number}}</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6 text-left">
                            <label>#OVAS DESPACHADAS</label>
                        </div>
                        <div class="col-6 text-center">
                            <label>{{contacto.Total | number}}</label>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-6 text-center">
                            <label style="font-weight: bold;">BANDEJA #</label>
                        </div>
                        <div class="col-6 text-center">
                            <label style="font-weight: bold;"># DE OVAS</label>
                        </div>
                    </div>
                    <div class="row" *ngFor="let item of bandejasMostrar; let i = index">
                        <div class="col-6 text-center">
                            <label>#{{i +1}}</label>
                        </div>
                        <div class="col-6 text-center">
                            <label class="hielo" *ngIf="item.Cantidad=='HIELO'">{{item.Cantidad}}</label>
                            <label class="vacia" *ngIf="item.Cantidad=='BANDEJA VACIA'">{{item.Cantidad}}</label>
                            <label
                                *ngIf="item.Cantidad!='BANDEJA VACIA' && item.Cantidad!='HIELO' ">{{item.Cantidad | number}}</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6 text-center">
                            <label>TOTAL OVAS EN ESTA CAJA</label>
                        </div>
                        <div class="col-6 text-center">
                            <label>{{contacto.Total_enviado | number}}</label>
                        </div>
                    </div>
                </div>
            </mat-grid-tile>


        </mat-grid-list>



    </mat-card-content>

</mat-card>