/* img {
    width: 100px;
    height: 50px;
} */

.example-card {
    max-width: 100%;
  }

  img {
    /* background-image: url('/assets/logo/Logo_Surala.png'); */
    background-size: cover;
    width: 77px;
    height: 50px;
    border-radius: 14%;
  }

  .center {
    margin: auto !important;
    width: 80% !important;

    padding: 10px;
  }

  .mat-grid-tile .mat-figure {
    max-height: 35%;
  }