
<div class="container-fluid">
    <div >
      <table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
          
            <th scope="col">Total Ovas en esta Distribucion </th>
            <th scope="col">Trazabilidad</th>






          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let distribucion of distribuciones ; let i = index">
            <th scope="row">{{i + 1}}</th>
           
            <td>{{distribucion.total_ovas_enviadas | number}}</td>
            <td> Ver Trazabilidad</td>





          </tr>

        </tbody>
      </table>
    </div>
  </div>
