

<ion-card *ngIf="mostrar==true">
    <ion-card-content>
        <div >
            <pdf-viewer [src]="pdfSrc"
            [fit-to-page]="true"
            [render-text]="true" style="display: block;"></pdf-viewer> 
           
           </div>

    </ion-card-content>
</ion-card>
<!-- <ion-buttons>
    <ion-buttons slot="start">
        <ion-button expand="full" (click)="openlocalPdf()">open local pdf</ion-button>
        <ion-button expand="full" (click)="dowloadAndOpenPdf()">Abrir Factura</ion-button>

    </ion-buttons>
  </ion-buttons> -->