<app-header titulo="Mi Perfil" icon="person"></app-header>


<ion-content>

  <ion-card>
    <ion-card-header>
      <ion-card-title class="blue">Mi Perfil</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <ion-grid style="font-size: 13px;">
        <ion-row>
       
          <ion-col>
            <ion-label>
              <ion-button slot="end">
                <!-- <ion-icon name="ellipse"></ion-icon> -->
                <ion-icon name="mail-outline"></ion-icon>
              </ion-button>
              {{user.email |uppercase}}
            </ion-label>
          </ion-col>
       
          <ion-col>
            <ion-label>
              <ion-button slot="end">
                <!-- <ion-icon name="ellipse"></ion-icon> -->
                <ion-icon name="person"></ion-icon>
              </ion-button>
              {{user.name + ' ' + user.surname}}
            </ion-label>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-label>
              <ion-button slot="start">
            
                <ion-icon name="wallet-outline"></ion-icon>
              </ion-button>
              {{user.numero_identificacion| number}}
            </ion-label>
          </ion-col>
       
          <ion-col>
            <ion-label>
              <ion-button slot="start">
                <!-- <ion-icon name="ellipse"></ion-icon> -->
                <ion-icon name="call-outline"></ion-icon>
              </ion-button>
              {{ user.telefono | phone}}
            </ion-label>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-label>
              <ion-button slot="start" routerLink="/mensajes">
                <!-- <ion-icon name="ellipse"></ion-icon> -->
                <ion-icon name="mail"></ion-icon>
              </ion-button>
              Mis mensajes
              
            </ion-label>
          </ion-col> 
        </ion-row>

        <ion-row>
          <ion-col>
            <ion-label>
              <ion-button slot="start" routerLink="/logout/1">
                <!-- <ion-icon name="ellipse"></ion-icon> -->
               
                <ion-icon name="log-out-outline"></ion-icon>
              </ion-button>
              Cerrar Sesión
              
            </ion-label>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>
</ion-content>
