.blue{
    color: rgb(14, 105, 179);
  
  

  }
  .ovas{
  
    color: #f33d01;
   
  }

  .blue-size{
    font-size: 13.5px;
    color: rgb(14, 105, 179);

  }

  .alinear{
    display: flex;
    align-items: center;
  }