<app-header titulo="Mi Perfil" icon="person"></app-header>


<ion-content>

  <ion-card>


    <ion-card-content>


      <ion-list lines="none">

        <ion-item>
          <ion-avatar slot="start">
            <img src="./assets/avatars/av-2.png">
          </ion-avatar>
          <ion-avatar slot="start">
            <img src="./assets/avatars/av-3.png">
          </ion-avatar>
          <div class="ion-text-left blueJustify">
            <ion-card-title class="blue">Mi Perfil</ion-card-title>
          </div>
        </ion-item>

        <ion-item>
          <p class="ovas"><label class="blue-size">{{user.email |uppercase}}</label></p>
          <ion-note slot="start" color="tertiary">
            <ion-label>
              <ion-button slot="end" disabled>
                <!-- <ion-icon name="ellipse"></ion-icon> -->
                <ion-icon name="mail-outline"></ion-icon>
              </ion-button>
            </ion-label>

          </ion-note>
        </ion-item>


        <ion-item>
          <p class="ovas"><label class="blue-size">{{user.name + ' ' + user.surname | uppercase}}</label></p>
          <ion-note slot="start" color="tertiary">
            <ion-label>
              <ion-button slot="end" disabled>
                <!-- <ion-icon name="ellipse"></ion-icon> -->
                <ion-icon name="person"></ion-icon>
              </ion-button>
            </ion-label>

          </ion-note>
        </ion-item>


        <ion-item>
          <p class="ovas"><label class="blue-size">{{user.numero_identificacion| number}}</label></p>
          <ion-note slot="start" color="tertiary">
            <ion-label>
              <ion-button slot="end" disabled>
                <!-- <ion-icon name="ellipse"></ion-icon> -->
                <ion-icon name="wallet-outline"></ion-icon>
              </ion-button>
            </ion-label>

          </ion-note>
        </ion-item>
        <ion-item>
          <p class="ovas"><label class="blue-size">{{user.telefono| phone}}</label></p>
          <ion-note slot="start" color="tertiary">
            <ion-label>
              <ion-button slot="end" disabled>
                <!-- <ion-icon name="ellipse"></ion-icon> -->
                <ion-icon name="call-outline"></ion-icon>
              </ion-button>
            </ion-label>

          </ion-note>
        </ion-item>

        <ion-item>
          <p class="ovas"><label class="blue-size"> Mis mensajes </label></p>
          <ion-note slot="start" color="tertiary">
            <ion-label>
              <ion-button slot="start" routerLink="/mensajes">
                <ion-icon name="mail"></ion-icon>
              </ion-button>
            </ion-label>

          </ion-note>
        </ion-item>

        <ion-item>
          <p class="ovas"><label class="blue-size"> Cambiar Contraseña </label></p>
          <ion-note slot="start" color="tertiary">
            <ion-label>
              <ion-button slot="start" routerLink="/changepassword">
                <ion-icon name="refresh-outline"></ion-icon>
              </ion-button>
            </ion-label>

          </ion-note>
        </ion-item>
      </ion-list>
      <ion-grid>




        <ion-row>
          <ion-col>
            <ion-label class="blue-size">
              <ion-button slot="start" routerLink="/logout/1">
                <!-- <ion-icon name="ellipse"></ion-icon> -->

                <ion-icon name="log-out-outline"></ion-icon>
              </ion-button>
              Cerrar Sesión

            </ion-label>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>
</ion-content>