

.mainSlide, .mainSlide ion-slide {
    width: 100%;
    height: 100%;
}

img {
    width: 120px;
}

.pick-avatar {
    width: 80px;
    opacity: 0.3;
}

.pick-avatar-seleccionado {
    transition: opacity 0.5s linear;
    opacity: 1 !important;
}

.titlecenter{
    text-align: center;
}

ion-grid {
    max-width: 100%;
}

ion-footter{
    max-width: 100%;
    padding-left: 10%;
    padding-right: 10%;
}