<div class="container alternate-theme">
    <mat-card>

        <mat-card-header>
            <div mat-card-avatar class="example-header-image" style="background-image: url('assets/avatars/av-4.png')">
            </div>
            <mat-card-title class="main-surala-text">
                   {{title}}
            </mat-card-title>
        </mat-card-header>

        <mat-card-content>
     
                    <div class="table-responsive">
                        <div class="row">
                            <div class="col-3"></div>

                            <div class="col-6">

                                <app-cantidaddespachado></app-cantidaddespachado>

                            </div>

                            <div class="col-2"></div>

                        </div>
                    </div>

          

        </mat-card-content>
    </mat-card>
</div>