<form [formGroup]="firstFormGroup" *ngIf="mostrar" class="center alternate-theme">

    <mat-card class="example-card">
        <mat-card-title>Nueva contraseña</mat-card-title>

        <mat-card-content>
            <div class="row">
                <div class="col-6">

                    <mat-form-field appearance="fill">
                        <mat-icon matSuffix>cached</mat-icon>
                        <mat-label>Password</mat-label>
                        <input matInput formControlName="password" [(ngModel)]="usuario.password"
                            pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" required />
                    </mat-form-field>

                </div>
            </div>
            <div class="row">

                <div class="col-6">

                    <button ngbAutofocus type="button" mat-raised-button  class="btn btn-primary btn-block" 
                     color="primary" (click)="Cerrar()" style="width:50%"
                       ><mat-icon>cancel_presentation</mat-icon></button>



                </div>
                <div class="col-6">

                    <button ngbAutofocus type="button" mat-raised-button  class="btn btn-primary btn-block"  (click)="cambiarPassword()"
                        [disabled]="firstFormGroup.invalid">Cambiar</button>



                </div>
            </div>

        </mat-card-content>
    </mat-card>
</form>