<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-title class="ovas">Bienvenido</ion-title>
    <ion-buttons slot="start">
      <ion-button (click)="toggleMenu()">
        <ion-icon slot="icon-only" name="ellipse"  color="primary"></ion-icon>
      </ion-button>
      <ion-button slot="end">
        <!-- <ion-icon name="ellipse"></ion-icon> -->
        <ion-icon name="home" class="ovas"></ion-icon>
      </ion-button>
      <!-- <button mat-raised-button (click)="photoService.takePicture()">
        <ion-icon slot="icon-only" name="menu"></ion-icon>
        Tomar Una foto
      </button>

      <button mat-raised-button (click)="photoService.postFile()">
        <ion-icon slot="icon-only" name="menu"></ion-icon>
        enviar
      </button> -->

    </ion-buttons>

    <ion-buttons slot="end">
     
      <ion-button slot="end" routerLink="/perfil">
        <!-- <ion-icon name="ellipse"></ion-icon> -->
        <ion-icon  color="primary" name="person"></ion-icon>
      </ion-button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content>
  <app-estadistica></app-estadistica>
</ion-content>