<ion-header no-border translucent class="ion-no-border">
  <ion-toolbar>

    <ion-buttons slot="start">
      <ion-back-button text="" [defaultHref]="ruta" color="primary" (click)="onClick()"></ion-back-button>
      <ion-button (click)="toggleMenu()">
        <ion-icon slot="icon-only" name="ellipse" color="primary"></ion-icon>
      </ion-button>
      <ion-button slot="end">
        <!-- <ion-icon name="ellipse"></ion-icon> -->
        <ion-icon  color="primary" [name]="icon"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-title text-capitalize class="ovas"> 
     {{ titulo }} </ion-title>
  </ion-toolbar>
</ion-header>