<ion-header no-border translucent>
  <ion-toolbar>

    <ion-buttons slot="start">
      <ion-back-button text="" defaultHref="/home" color="primary"></ion-back-button>
      <ion-button (click)="toggleMenu()">
        <ion-icon slot="icon-only" name="ellipse" color="primary"></ion-icon>
      </ion-button>
      <ion-button slot="end">
        <ion-icon name="ellipse"></ion-icon>
        <ion-icon [name]="icon"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-title text-capitalize> 
     {{ titulo }} </ion-title>
  </ion-toolbar>
</ion-header>