<div class="container alternate-theme" style="max-width: 1260px;">
  <!--Contendor principal-->
  <br />

  <mat-menu #menu="matMenu">
    <button mat-menu-item routerLink='/surala/home' color="primary">
      <mat-icon>home</mat-icon>
      <span>Inicio</span>
    </button>
    <button mat-menu-item [matMenuTriggerFor]="usuarios"> <mat-icon>contacts</mat-icon> <span>Usuarios</span></button>
    <button mat-menu-item [matMenuTriggerFor]="ovas"> <mat-icon>fiber_manual_record</mat-icon> <span>Ovas</span></button>
    <button mat-menu-item [matMenuTriggerFor]="informesTecnicos"> <mat-icon>insert_chart</mat-icon> <span>Informes Técnicos</span></button>
   
    <button mat-menu-item [matMenuTriggerFor]="appmovil"> <mat-icon>smartphone</mat-icon> <span>Aplicación Movil</span></button>

  
  </mat-menu>


  <mat-menu  #informesTecnicos="matMenu">
    <button mat-menu-item routerLink='/surala/informestecnicos/registrar'>
      <mat-icon>addchart</mat-icon>
      <span>Registrar Informe</span>
    </button>
    <button mat-menu-item routerLink='/surala/informestecnicos/ListaInformes'>
      <mat-icon>article</mat-icon>
      <span>Ver Informes</span>
    </button>
  </mat-menu>
  <mat-menu  #appmovilNotificaciones="matMenu">
    <button mat-menu-item routerLink='/surala/despachos/notificaciones' >
      <mat-icon>verified_user</mat-icon>
      <span>Despacho Actual</span>
    </button>
    <button mat-menu-item routerLink='/surala/register' >
      <mat-icon>verified_user</mat-icon>
      <span>Notificaciones Generales</span>
    </button>
  </mat-menu>
  <mat-menu  #appmovil="matMenu">
    <button mat-menu-item [matMenuTriggerFor]="appmovilNotificaciones">
      <mat-icon>campaign</mat-icon>
      <span>Enviar Notificaciones</span>
    </button>
    <button mat-menu-item [matMenuTriggerFor]="appmovilNotificaciones">
      <mat-icon>campaign</mat-icon>
      <span>Noticias</span>
    </button>
  </mat-menu>
  <mat-menu  #usuarios="matMenu">
    <button mat-menu-item routerLink='/surala/register' >
      <mat-icon>verified_user</mat-icon>
      <span>Registro de Usuarios</span>
    </button>

    <button mat-menu-item routerLink='/surala/usuarios'>
      <mat-icon>list_alt</mat-icon>
      <span>Administrar Usuarios</span>
    </button>
  </mat-menu>
  
  <mat-menu  #despachos="matMenu">
    <button mat-menu-item routerLink='/surala/despacho/view'>
      <mat-icon>local_shipping</mat-icon>
      <span>Ver Despachos</span>
    </button>
    <button mat-menu-item routerLink='/surala/despachos/registrarllegada'>
      <mat-icon>verified</mat-icon>
      <span>Reportar Llegada Despachos</span>
    </button>
    <button mat-menu-item routerLink='/surala/despacho/view'>
      <mat-icon>airplanemode_active</mat-icon>
      <span>Ver Aeropuerto</span>
    </button>

    <button mat-menu-item routerLink='/surala/despacho/view'>
      <mat-icon>airplanemode_active</mat-icon>
      <span>Trayectorias</span>
    </button>

    <button mat-menu-item routerLink='/surala/despacho/view'>
      <mat-icon>airplanemode_active</mat-icon>
      <span>Conductores</span>
    </button>
  </mat-menu>
  <mat-menu #ovas="matMenu">
   
   
    <button mat-menu-item routerLink='/surala/despacho/create'>
      <mat-icon>next_week</mat-icon>
      <span>Crear Proximo Despacho</span>
    </button>
    <button mat-menu-item [matMenuTriggerFor]="despachos">
      <mat-icon>local_shipping</mat-icon>
      <span>Despachos</span>
    </button>
   <button mat-menu-item routerLink='/surala/despacho/facturas/view'>
      <mat-icon>assignment_returned</mat-icon>
      <span>Facturas Despachos</span>
    </button>
    <button mat-menu-item routerLink='surala/mortalidad'>
      <mat-icon>sentiment_very_dissatisfied</mat-icon>
      <span>Mortalidad</span>
    </button>
  </mat-menu>

  <mat-menu #menuDerecha="matMenu">
    <!-- <a class="nav-link"  role="button" 
            aria-haspopup="true" aria-expanded="false">
            {{identity.name + ' ' + identity.surname | uppercase}}
          </a> -->
    <button mat-menu-item routerLink='/surala/despacho/view'>
      <mat-icon>person_pin</mat-icon>
      <span>Mi Perfil</span>
    </button>

    <button mat-menu-item routerLink='/surala/despacho/view'>
      <mat-icon>voicemail</mat-icon>
      <span>Ajustes</span>
    </button>
    <div class="dropdown-divider"></div>
    <button mat-menu-item [routerLink]="['/surala/logout/1']">
      <mat-icon>exit_to_app</mat-icon>
      <span>Salir</span>
    </button>
  </mat-menu>
  <div class="bgimg">
  <mat-toolbar color="primary">
    <!-- <button mat-button [matMenuTriggerFor]="animals"><mat-icon>menu</mat-icon></button> -->
    <button [matMenuTriggerFor]="menu" mat-icon-button class="example-icon"
      aria-label="Example icon-button with menu icon" *ngIf="identity && identity.name">
      <mat-icon>menu</mat-icon>

    </button>
    <img src="./assets/logo/Logo_Surala.png" width="100" height="50" alt="" loading="lazy" />
    <span class="example-spacer"></span>

    <span>Truchas Suralá S.A.S</span>
    <span class="example-spacer"></span>


   
    <button [matMenuTriggerFor]="menuDerecha" mat-icon-button class="example-icon" *ngIf="identity && identity.name"
      aria-label="Example icon-button with menu icon">
      <mat-icon>menu</mat-icon>

    </button>
  </mat-toolbar>
</div>
  <br>
  <router-outlet>
    <!-- <main id="logout-button-holder">
    <button mat-raised-button id="logout-button" (click)="openModal()">Logout</button>
</main> -->
  </router-outlet>
</div>

<ngx-spinner bdColor="rgba(0, 0, 0, 0.8)"
size="large" color="#fff" type="ball-atom" [fullScreen]="true">
 <p style="color: white"> Estamos procesando tu solicitud </p>
</ngx-spinner>