<div class="container alternate-theme">
  <!--Contendor principal-->
  <br />

  <mat-menu #menu="matMenu">
    <button mat-menu-item routerLink='/surala/home'>
      <mat-icon>home</mat-icon>
      <span>Inicio</span>
    </button>
    <button mat-menu-item routerLink='/surala/despacho/create'>
      <mat-icon>next_week</mat-icon>
      <span>Crear Proximo Despacho</span>
    </button>
    <button mat-menu-item routerLink='/surala/despacho/view'>
      <mat-icon>local_shipping</mat-icon>
      <span>Ver Despachos</span>
    </button>
    <button mat-menu-item routerLink='/surala/register'>
      <mat-icon>verified_user</mat-icon>
      <span>Registro de Usuarios</span>
    </button>

    <button mat-menu-item routerLink='/surala/usuarios'>
      <mat-icon>list_alt</mat-icon>
      <span>Administrar Usuarios</span>
    </button>
  </mat-menu>

  <mat-menu #menuDerecha="matMenu">
    <!-- <a class="nav-link"  role="button" 
            aria-haspopup="true" aria-expanded="false">
            {{identity.name + ' ' + identity.surname | uppercase}}
          </a> -->
    <button mat-menu-item routerLink='/surala/despacho/view'>
      <mat-icon>person_pin</mat-icon>
      <span>Mi Perfil</span>
    </button>

    <button mat-menu-item routerLink='/surala/despacho/view'>
      <mat-icon>voicemail</mat-icon>
      <span>Ajustes</span>
    </button>
    <div class="dropdown-divider"></div>
    <button mat-menu-item [routerLink]="['/surala/logout/1']">
      <mat-icon>exit_to_app</mat-icon>
      <span>Salir</span>
    </button>
  </mat-menu>
  <mat-toolbar color="primary">
    <button [matMenuTriggerFor]="menu" mat-icon-button class="example-icon"
      aria-label="Example icon-button with menu icon" *ngIf="identity && identity.name">
      <mat-icon>menu</mat-icon>

    </button>
    <img src="./assets/logo/Logo_Surala.png" width="100" height="50" alt="" loading="lazy" />
    <span class="example-spacer"></span>

    <span>Truchas Suralá S.A.S</span>
    <span class="example-spacer"></span>


    <img src="./assets/logo/banner1.png" width="100px" height="50px" alt="" loading="lazy" />
    <button [matMenuTriggerFor]="menuDerecha" mat-icon-button class="example-icon" *ngIf="identity && identity.name"
      aria-label="Example icon-button with menu icon">
      <mat-icon>menu</mat-icon>

    </button>
  </mat-toolbar>

  <br>
  <router-outlet>
    <!-- <main id="logout-button-holder">
    <button mat-raised-button id="logout-button" (click)="openModal()">Logout</button>
</main> -->
  </router-outlet>
</div>