<!-- <pdf-viewer [src]="pdfSrc" [render-text]="true" style="display: block;"></pdf-viewer> -->
<mat-card>
    <mat-card-header>
        <div mat-card-avatar class="example-header-image" style="background-image: url('assets/avatars/av-8.png')">
        </div>
        <mat-card-title class="main-surala-text">Asociar {{NombreInforme}}</mat-card-title>
        <mat-card-subtitle>Truchas Surala</mat-card-subtitle>
    </mat-card-header>

    <mat-card-content>
        <div class="form-group">
            <label for="file">Adjuntar archivo</label>
            <input type="file" id="file" [accept]="contentInclude" (change)="handleFileInput($event.target.files)">
        </div>
      
  
        <div>
            <mat-card-actions>
                <div class="row">
                    <div class="col-6 centerlabel font-weight-bold" style="text-align: center;">


                        <button mat-raised-button color="primary" ngbAutofocus (click)="cerrar()">Cancelar</button>
                    </div>
                    <div class="col-6 centerlabel font-weight-bold" style="text-align: center;">
                        <button mat-raised-button color="warn" [disabled]="deshabilitado" (click)="guardarArchivo()">Continuar</button>
                    </div>
                </div>
            </mat-card-actions>
        </div>

        <pdf-viewer [src]="pdfSrc" [render-text]="true" [render-text]="renderText" [render-text-mode]="renderTextMode"
        [rotation]="rotation" [zoom]="zoom" [zoom-scale]="zoomScale" [original-size]="originalSize"
        [fit-to-page]="fitToPage" [show-all]="showAll" [autoresize]="autoresize" [show-borders]="showBorders"
        (after-load-complete)="callBackFn($event)" (page-rendered)="pageRendered($event)"
        (text-layer-rendered)="textLayerRendered($event)" (error)="onError($event)"
        (on-progress)="onProgress($event)" style="display: block;max-height: 45%;"></pdf-viewer>
    </mat-card-content>
</mat-card>