<mat-card class="example-card" *ngIf="actual">
  <mat-card-header>
    <mat-card-title>Despacho Actual</mat-card-title>
    <mat-card-subtitle>Fecha del despacho: {{ actual.fecha | date: "MMM/dd/yyyy"| uppercase}}</mat-card-subtitle>
    <mat-card-content>
      <div class="row">
        <div class="col-6">
          <mat-label>
            Número Factura: {{ actual.numero_factura | uppercase}}
          </mat-label>
        </div>
        <div class="col-6">
          <mat-label>
            Numero ovas: {{ actual.numero_ovas | number }}
          </mat-label>
        </div>
      </div>

 
        <div class="row">
          <div class="col-6">
            <mat-label>
              <button mat-raised-button id="logout-button" class="btn btn-primary btn-block" 
              color="primary" [routerLink]="['/surala/despacho/', actual.id]"><mat-icon>dashboard</mat-icon></button>

            </mat-label>
          </div>
          <div class="col-6">
            <mat-label>
              <button mat-raised-button
               id="logout-button" 
               color="tertiary"
               (click)="open()"><mat-icon>add_shopping_cart</mat-icon></button>

            </mat-label>
          </div>
        </div>
     

      <mat-label>
      
      </mat-label>
    </mat-card-content>
  </mat-card-header>
</mat-card> 
