
<div class="container-fluid">

<app-despachoactual [actual] ="actual"></app-despachoactual>

  <div >
    <table class="table">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Fecha Factura</th>
          <th scope="col">Numero factura</th>
          <th scope="col">Numero Ovas</th>
          <th scope="col">Fecha Creacion </th>

          <th scope="col"></th>



        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let despacho of despachos ; let i = index">
          <th scope="row">{{despacho.id}}</th>
          <td>{{despacho.fecha}}</td>

          <td>{{despacho.numero_factura}}</td>
          <td>{{despacho.numero_ovas | number}}</td>
          <td>{{despacho.created_at}}</td>
          <td> <a [routerLink]="['/surala/despacho/', despacho.id]">Ver despacho</a></td>
          <td> <a [routerLink]="['/surala/pedidos/', despacho.id]">Ver Pedidos </a></td>


        </tr>

      </tbody>
    </table>
  </div>
</div>
