<div class="container alternate-theme ">
    <mat-card class="example-card" style="text-align: center;">
        <mat-card-header >
        
          <mat-card-title>
            <p>{{Titulo}}</p> 
          </mat-card-title>
          <mat-card-subtitle>
            <p><mat-icon color="primary" >check_circle</mat-icon></p></mat-card-subtitle>
        </mat-card-header>
       
        <mat-card-content>
          <p>
            {{mensaje}}
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-raised-button color="primary"  (click)="close()">OK</button>
        </mat-card-actions>
      </mat-card>
    </div>