

<div class="container alternate-theme">
<mat-card>
    <mat-card-header>
        <div mat-card-avatar class="example-header-image" style="background-image: url('assets/avatars/av-3.png')">
        </div>
        <mat-card-title class="main-surala-text">Descargar Mortalidades</mat-card-title>
        <mat-card-subtitle>Truchas Surala</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        <p>
            Esta a punto de descargar toda la información de la base de datos, este proceso puede tardar dependiendo
            de la información almacenada en esta.

        </p>
    </mat-card-content>
    <mat-card-actions>
        <div class="row">
           
            <div class="col-12 centerlabel font-weight-bold" style="text-align: center;">
                <button mat-raised-button color="warn"  (click)="descargar()">
                    <mat-icon>cloud_download</mat-icon>
                </button>
            </div>
        </div>

    </mat-card-actions>
</mat-card>

</div>

  