<!-- 
<mat-grid-list cols="1" rowHeight="2:1" >    
    <mat-grid-tile *ngFor="let item of distribucion">
       <br>

        <mat-divider></mat-divider>
   
       <app-trazabilidad [traza]="item" style="width: 400px;"> 
       </app-trazabilidad>
       <br>
       <mat-divider></mat-divider>
    </mat-grid-tile>
</mat-grid-list> -->

<mat-card>
    <mat-card-content>
        <mat-tab-group class="center">
            <mat-tab *ngFor="let item of distribucion; let i = index " [label]="item.contacto.Remision">
                <app-trazabilidad [traza]="item">
                </app-trazabilidad>
            </mat-tab>

        </mat-tab-group>
    </mat-card-content>
</mat-card>