.blue{
    color: rgb(14, 105, 179);
    text-align: left;
    font-size: 16px;
  

  }

  .blueItem{
    color: rgb(14, 105, 179);
    text-align: left;
    font-size: 16px;
  

  }

  ion-avatar{
    position: absolute;
    top: 0px;
    left: 0px;
  }


  
  .blueJustify{
    color: rgb(14, 105, 179);
    margin-left: 28px;
    font-size: 12px;
    margin-top: 15px;


  }
  .ova{
  
    color: #f33d01;
    font-weight: bold;
  }



  .vacia{
    color: rgb(14, 105, 179);
    font-weight: bold;

  }
  .hielo{
  
    color: #f33d01;
    font-weight: bold;
  }
