/* mat-card{
    display: flex;
} */
mat-form-field{
    width: 100%;
}

.centrarObjetos {
    margin: auto;
   
    width: 80%;

    /* border: 3px solid green; */
    padding: 10px;
  }



.mat-form-field{
    width:  100%;
}
.my-grid-tile{
    padding-top: calc((0% - 0.5px) * 1 + 0px) !important

}

.my-grid-tile-list{
    padding-bottom: calc(1 * ((0% - 0.5px) * 1) + 0px + 0px) !important;
    padding-top: calc((40% - 0.5px) * 1 + 0px) !important;
    display: block;
    position:fixed;
}

example-container {
    width: 400px;
    height: 200px;
    margin: 10px;
    border: 1px solid #555;
}

mat-form-field{
    width: 100%;
}  
.example-sidenav-content {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
}
.example-sidenav {
    padding: 19px;
}