<div class="container alternate-theme">
  <mat-horizontal-stepper [linear]="false">
    <mat-step>
      <ng-template matStepLabel>REGISTRO DE UN NUEVO USUARIO/FINCA</ng-template>

      <mat-card class="example-card">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>Datos del Usuario</mat-card-title>

        </mat-card-header>
        <mat-card-content>
          <!-- <article class="card-body mx-auto" style="max-width: 80%;" *ngIf="mail">
            El Correo ingresado ya existe, si no recuerda su contraseña dirijase a...
            o intente con otro correo.
          </article>

          <article class="card-body mx-auto" style="max-width: 80%;" *ngIf="identificacion">
            El numero de identificacion ya se encuentra registrado, si no recuerda su contraseña dirijase a...
          </article> -->

          <!--formulario de confirmacion-->
          <!-- <div class="alert bg-light alert-success" *ngIf="status==='success'">
            <article class="card-body mx-auto" style="max-width: 80%;">
              El registro fue exitoso
            </article>
          </div> -->

       
      
            <form #registerform="ngForm" (ngSubmit)="onRegister(registerform)">

              <div class="row">
                <div class=col-6>
          
                  <mat-form-field appearance="fill">
                    <mat-icon matSuffix>person</mat-icon>
                    <mat-label>Nombres</mat-label>
                    <input matInput [(ngModel)]="user.name" placeholder="Nombres"
                   
                    formControlName="Iguales" required />
            
                  </mat-form-field>
            
                </div>

                <div class=col-6>
          
                  <mat-form-field appearance="fill">
                    <mat-icon matSuffix>person</mat-icon>
                    <mat-label>Apellidos</mat-label>
                    <input matInput [(ngModel)]="user.surname" placeholder="Apellidos"
                   
                    formControlName="Iguales" required />
            
                  </mat-form-field>
            
                </div>
              </div> 


<!-- 
              <div class="form-group input-group" style="width: 100%;">
                <div class="input-group-prepend">
                  <span class="input-group-text"> <i class="fa fa-user"></i> </span>
                </div>
                <input name="nombre" class="form-control" placeholder="Nombres" type="text" #name="ngModel"
                  [(ngModel)]="user.name" required pattern="[a-zA-Z\s]+" />
                <small *ngIf="!name.valid && name.touched" class="invalid-feedback d-block">
                  Nombre no valido
                </small>
              </div>
            
              <div class="form-group input-group" style="width: 100%;">
                <div class="input-group-prepend">
                  <span class="input-group-text"> <i class="fa fa-user"></i> </span>
                </div>
                <input name="apellidos" class="form-control" placeholder="Apellidos" type="text" #surname="ngModel"
                  [(ngModel)]="user.surname" pattern="[a-zA-Z\s]+" required />
                <small *ngIf="!surname.valid && surname.touched" class="invalid-feedback d-block">
                  Apellido no valido
                </small>
              </div>
         
              <div class="form-group input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text">
                    <i class="fa fa-envelope"></i>
                  </span>
                </div>
                <input name="email" class="form-control" placeholder="correo electronico" type="email" #email="ngModel"
                  [(ngModel)]="user.email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$" />
                <small *ngIf="!email.valid && email.touched" class="invalid-feedback d-block">
                  Correo no valido
                </small>
              </div>
  
              <div class="form-group input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text">
                    <i class="fa fa-building"></i>
                  </span>
                </div>
  
                <select name="tipoIdent" class="form-control" #tipoident="ngModel" [(ngModel)]="user.tipo_identificacion"
                  required>
                  <option selected="selected" value="1">CC</option>
                  <option value="2">NIT</option>
                </select>
                <input name="numeroIdentificacion" class="form-control" placeholder="Numero de Identificacion"
                  type="number" autocomplete="off" #numeroident="ngModel" [(ngModel)]="user.numero_identificacion"
                  pattern="[0-9]+" required />
                <small *ngIf="!numeroident.valid && numeroident.touched" class="invalid-feedback d-block">
                  Numero de identificacion no valido, Solo numeros
                </small>
              </div>
                            <div class="form-group input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
                </div>
                <input name="password" class="form-control" placeholder="contraseña" type="password" autocomplete="off"
                  #password="ngModel" [(ngModel)]="user.password" required />
              
                <small *ngIf="!password.valid && password.touched" class="invalid-feedback d-block">
                  contraseña no valida, debe contener un digito
                  al menos una minuscula
                  una mayuscula, y al menos 8 caracteres
                </small>
              </div>
          
  
              <div class="form-group">
                <button type="submit" class="btn btn-primary btn-block" [disabled]="!registerform.valid">
                  Crear Cuenta
                </button>
              </div>
    
   -->
  
  
  
            </form>
  
  
        
        </mat-card-content>
      </mat-card>
    </mat-step>
  </mat-horizontal-stepper>

