<ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
  <ion-refresher-content
  pullingIcon="chevron-down-circle-outline"
  pullingText="Pull to refresh"
  refreshingSpinner="circles"
  refreshingText="Refreshing...">
</ion-refresher-content>
</ion-refresher>
<ion-grid>
  <ion-row style="
  padding-bottom: 63px;"></ion-row>

  <ion-row>

    <ion-col style="padding-left: 25px;">
   
        <ngx-charts-line-chart [view]="view" [scheme]="colorScheme" [legend]="legend" [showXAxisLabel]="showXAxisLabel"
          [showYAxisLabel]="showYAxisLabel" [xAxis]="xAxis" [yAxis]="yAxis" [xAxisLabel]="xAxisLabel"
          [yAxisLabel]="yAxisLabel" [timeline]="timeline" [results]="multi" (select)="onSelect($event)"
          (activate)="onActivate($event)" (deactivate)="onDeactivate($event)">
        </ngx-charts-line-chart>
      </ion-col>
    
 

  

  </ion-row>
  <ion-row>


  </ion-row>
</ion-grid>