<ion-grid>
  <ion-row>
    <ion-col>
      <div>
        <ion-label>Edad Ovas</ion-label>
        <ngx-charts-bar-vertical 
        [view]="view"
        [scheme]="colorScheme"
        [results]="single"
        [gradient]="gradient"
        [xAxis]="showXAxis"
        [yAxis]="showYAxis"
        [legend]="showLegend"
        [showXAxisLabel]="showXAxisLabel"
        [showYAxisLabel]="showYAxisLabel"
        [xAxisLabel]="xAxisLabel"
        [yAxisLabel]="yAxisLabel"
       >
      </ngx-charts-bar-vertical>
      </div>
    </ion-col>
    <ion-col>
      <div>
        <ion-label>Tamaño Ovas</ion-label>

        <ngx-charts-bar-vertical 
        [view]="view"
        [scheme]="colorScheme"
        [results]="tamanio"
        [gradient]="gradient"
        [xAxis]="showXAxis"
        [yAxis]="showYAxis"
        [legend]="showLegend"
        [showXAxisLabel]="showXAxisLabel"
        [showYAxisLabel]="showYAxisLabel"
        [xAxisLabel]="xAxisLabel"
        [yAxisLabel]="ytamanioAxisLabel"
       >
      </ngx-charts-bar-vertical>
      </div>
    </ion-col>
    
  </ion-row>
</ion-grid>


