<ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
  <ion-refresher-content pullingIcon="chevron-down-circle-outline" pullingText="Desliza para refrescar"
    refreshingSpinner="circles" refreshingText="Refrescando...">
  </ion-refresher-content>
</ion-refresher>
<ion-buttons>
  <ion-buttons slot="start">

  </ion-buttons>
</ion-buttons>
<ion-card *ngFor="let pedido of pedidos">
  <ion-card-header>
    <ion-card-title class="ovasTitulo">
      <ion-icon name="cart-outline"></ion-icon>{{pedido.fecha_salida.replace(' 00:00:00', 'T00:00:00') | date: "MMM/dd/yyyy" | uppercase}}
    </ion-card-title>
    <ion-card-subtitle></ion-card-subtitle>

    <!-- <ion-img src="https://cdn.needish.tools/is-prod-deals/ZTT2WXf38Do4jIh3HLdzGg/scale/900x600.jpg"></ion-img> -->
  </ion-card-header>
  <ion-card-content>
    <div class="row">
      <div class="col-4">
        <ion-label class="blueGlobal">
          Finca: {{pedido.departamento +" - "+ pedido.municipio+" - "+ pedido.nombre}}
        </ion-label>
      </div>
      <div class="col-4">
        <ion-label class="blueGlobal">
          Total: {{pedido.total| number}}
        </ion-label>
      </div>
      <div class="col-4">
        <ion-label class="blueGlobal">
          Pedido: {{pedido.pedido| number}}
        </ion-label>
      </div>
      <div class="col-4">
        <ion-label class="blueGlobal">
          Adicional: {{pedido.adicional| number}}
        </ion-label>
      </div>
      <div class="col-4">
        <ion-label class="blueGlobal">
          Porcentaje adicional: {{pedido.porcentaje}}%
        </ion-label>
      </div>
      <div class="col-4">
        <ion-label class="blueGlobal">
          Reposición: {{pedido.reposicion| number}}
        </ion-label>
      </div>
      <div class="col-4" class="blueGlobal" *ngIf="pedido.nombre_factura!='pendiente'">
        <ion-label  class="blueGlobal">
          Factura:  {{pedido.nombre_factura}}
        </ion-label>
      
      </div>
    </div>

    <ion-toolbar>
      <ion-buttons slot="secondary">
        <ion-button color="primary" *ngIf="pedido.nombre_factura!='pendiente'" (click)="presentModal(pedido)">
          <!-- <ion-button color="primary" *ngIf="pedido.nombre_factura!='pendiente'" [routerLink]="'/pedidofactura/'+pedido.id+'/'+pedido.nombre_factura"> -->
          <ion-icon slot="icon-only" name="cash-outline"></ion-icon>
        </ion-button>
        <ion-button  color="primary" [routerLink]="'/trazabilidad/'+pedido.id">
          <ion-icon  slot="icon-only"name="analytics-outline"></ion-icon>
         
        </ion-button>
      </ion-buttons>
     
     
    </ion-toolbar>


  </ion-card-content>
</ion-card>

<div *ngIf="noMostrar==true">
  
<ion-card  *ngFor="let item of [1,1,1,1,1]" class="animated flash slow infinite">
  <ion-card-header>
    <ion-card-title>
      <ion-icon name="cart-outline"></ion-icon>
      <ion-skeleton-text width="40%"></ion-skeleton-text>
    </ion-card-title>
    <ion-card-subtitle></ion-card-subtitle>

    <!-- <ion-img src="https://cdn.needish.tools/is-prod-deals/ZTT2WXf38Do4jIh3HLdzGg/scale/900x600.jpg"></ion-img> -->
  </ion-card-header>
  <ion-card-content>
    <div class="row">
      <div class="col-4">
        <ion-label>
          <ion-skeleton-text width="40%"></ion-skeleton-text>
         
        </ion-label>
      </div>
      <div class="col-4">
        <ion-label>
          <ion-skeleton-text width="40%"></ion-skeleton-text>

        </ion-label>
      </div>
      <div class="col-4">
        <ion-label>
          <ion-skeleton-text width="40%"></ion-skeleton-text>

        </ion-label>
      </div>
      <div class="col-4">
        <ion-label>
          <ion-skeleton-text width="40%"></ion-skeleton-text>

        </ion-label>
      </div>
      <div class="col-4">
        <ion-label>
          <ion-skeleton-text width="40%"></ion-skeleton-text>
        </ion-label>
      </div>
      <div class="col-4">
        <ion-label>
          <ion-skeleton-text width="40%"></ion-skeleton-text>
        </ion-label>
      </div>
      <div class="col-4">
        <ion-label>
          <ion-skeleton-text width="40%"></ion-skeleton-text>
        </ion-label>
      
      </div>
    </div>

    <ion-toolbar>
      <ion-buttons slot="secondary">
       <ion-label slot="end" text-left>
        <ion-skeleton-text width="40px"></ion-skeleton-text>

       </ion-label>
      </ion-buttons>
     
      <ion-buttons slot="primary">
        <ion-label slot="end" text-right>
          <ion-skeleton-text width="40px"></ion-skeleton-text>

        </ion-label>
      </ion-buttons>
    </ion-toolbar>


  </ion-card-content>
</ion-card>
</div>
