<ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
  <ion-refresher-content pullingIcon="chevron-down-circle-outline" pullingText="Pull to refresh"
    refreshingSpinner="circles" refreshingText="Refreshing...">
  </ion-refresher-content>
</ion-refresher>
<ion-buttons>
  <ion-buttons slot="start">

  </ion-buttons>
</ion-buttons>
<ion-card *ngFor="let pedido of pedidos">
  <ion-card-header>
    <ion-card-title>
      <ion-icon name="cart-outline"></ion-icon>{{pedido.fecha_salida.replace(' 00:00:00', 'T00:00:00') | date: "MMM/dd/yyyy" | uppercase}}
    </ion-card-title>
    <ion-card-subtitle></ion-card-subtitle>

    <!-- <ion-img src="https://cdn.needish.tools/is-prod-deals/ZTT2WXf38Do4jIh3HLdzGg/scale/900x600.jpg"></ion-img> -->
  </ion-card-header>
  <ion-card-content>
    <div class="row">
      <div class="col-4">
        <ion-label>
          Finca: {{pedido.departamento +" - "+ pedido.municipio+" - "+ pedido.nombre}}
        </ion-label>
      </div>
      <div class="col-4">
        <ion-label>
          Total: {{pedido.total| number}}
        </ion-label>
      </div>
      <div class="col-4">
        <ion-label>
          Pedido: {{pedido.pedido| number}}
        </ion-label>
      </div>
      <div class="col-4">
        <ion-label>
          Adicional: {{pedido.adicional| number}}
        </ion-label>
      </div>
      <div class="col-4">
        <ion-label>
          Porcentaje adicional: {{pedido.porcentaje}}%
        </ion-label>
      </div>
      <div class="col-4">
        <ion-label>
          Reposición: {{pedido.reposicion| number}}
        </ion-label>
      </div>
      <div class="col-4" *ngIf="pedido.nombre_factura!='pendiente'">
        <ion-label>
          Factura:  {{pedido.nombre_factura}}
        </ion-label>
      
      </div>
    </div>

    <ion-toolbar>
      <ion-buttons slot="secondary">
        <ion-button [routerLink]="'/pedidofactura/'+pedido.id+'/'+pedido.nombre_factura">
          <ion-icon slot="icon-only" name="cash-outline"></ion-icon>
        </ion-button>
        <ion-button [routerLink]="'/trazabilidad/'+pedido.id">
          <ion-icon  slot="icon-only"name="analytics-outline"></ion-icon>
         
        </ion-button>
      </ion-buttons>
     
      <ion-buttons slot="primary">
        <ion-button color="secondary">
          <ion-icon slot="icon-only" ios="ellipsis-horizontal" md="ellipsis-vertical"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>


  </ion-card-content>
</ion-card>