<ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
  <ion-refresher-content pullingIcon="chevron-down-circle-outline" pullingText="Pull to refresh"
    refreshingSpinner="circles" refreshingText="Refreshing...">
  </ion-refresher-content>
</ion-refresher>
<ion-buttons>
  <ion-buttons slot="start">

  </ion-buttons>
</ion-buttons>
<ion-card *ngFor="let pedido of pedidos">
  <ion-card-header>
    <ion-card-title>
      <ion-icon name="cart-outline"></ion-icon>{{pedido.fecha_salida| date: "MMM/dd/yyyy" | uppercase}}
    </ion-card-title>
    <ion-card-subtitle></ion-card-subtitle>

    <!-- <ion-img src="https://cdn.needish.tools/is-prod-deals/ZTT2WXf38Do4jIh3HLdzGg/scale/900x600.jpg"></ion-img> -->
  </ion-card-header>
  <ion-card-content>
    <div class="row">
      <div class="col-4">
        <ion-label>
          Finca: {{pedido.departamento +" - "+ pedido.municipio+" - "+ pedido.nombre}}
        </ion-label>
      </div>
      <div class="col-4">
        <ion-label>
          Total: {{pedido.total| number}}
        </ion-label>
      </div>
      <div class="col-4">
        <ion-label>
          Pedido: {{pedido.pedido| number}}
        </ion-label>
      </div>
      <div class="col-4">
        <ion-label>
          Adicional: {{pedido.adicional| number}}
        </ion-label>
      </div>
      <div class="col-4">
        <ion-label>
          Porcentaje adicional: {{pedido.porcentaje}}%
        </ion-label>
      </div>
      <div class="col-4">
        <ion-label>
          Reposición: {{pedido.adicional| number}}
        </ion-label>
      </div>
      <div class="col-4">
        <ion-label>
          Factura:  Ver {{pedido.nombre_factura}}
           <ion-button [routerLink]="'/pedidofactura/'+pedido.nombre_factura" expand="block" fill="clear" shape="round">
           ver
          </ion-button>
        </ion-label>
      
      </div>
    </div>



  </ion-card-content>
</ion-card>