.mat-form-field{
    width: 100%;
}
.registroDespacho{
    width: 100%;
    align-items: center;
}

body {
    text-align: center;
}
form {
    display: inline-block;
}

table {
    width: 100%;
  }


  .modal-xl .modal-lg .modal-dialog{
    max-width: 90% !important;
  }

  .modal-dialog {
    max-width: 90% !important;

  }
