
  .center{
  
    color: #f33d01;
    font-weight: bold;
    font-size: 19px;
    text-align: center;
    padding-bottom: 10px;

  }

 img{
   height: 100%;
   width: 80%;
 }
  .blueJustify{
    color: rgb(14, 105, 179);
 
    font-size: 15px;
    margin-top: 0px;


  }