<div class="table-responsive shake-horizontal">
  <table id="customers" matTableExporter #exporter="matTableExporter" mat-table [dataSource]="dataSource"
    class="mat-elevation-z8">
    <ng-container matColumnDef="position">
      <th mat-header-cell *matHeaderCellDef> No. </th>
      <td mat-cell *matCellDef="let element; let i = index"> {{i + 1}} </td>
    </ng-container>



    <ng-container matColumnDef="FechaSalida">
      <th mat-header-cell *matHeaderCellDef> Fecha Salida </th>
      <td mat-cell *matCellDef="let element">
        {{ element.fechaProbableS |date :"MMM/dd/yyyy" | uppercase }}
      </td>
    </ng-container>


    <ng-container matColumnDef="Semana">
      <th mat-header-cell *matHeaderCellDef> Semana</th>
      <td mat-cell *matCellDef="let element" style="text-align: center;"> {{element.semana}} </td>
    </ng-container>

    <ng-container matColumnDef="dia">
      <th mat-header-cell *matHeaderCellDef> Día</th>
      <td mat-cell *matCellDef="let element" style="text-align: center;"> {{element.dia | uppercase}} </td>
    </ng-container>

    <ng-container matColumnDef="talla">
      <th mat-header-cell *matHeaderCellDef> Talla (cm)</th>
      <td mat-cell *matCellDef="let element" style="text-align: center;"> {{element.talla | number}} </td>
    </ng-container>

    <ng-container matColumnDef="peso">
      <th mat-header-cell *matHeaderCellDef> Peso (gr)</th>
      <td mat-cell *matCellDef="let element" style="text-align: center;"> {{element.peso | number}} </td>
    </ng-container>
    <ng-container matColumnDef="cantidad">
      <th mat-header-cell *matHeaderCellDef> Cantidad</th>
      <td mat-cell *matCellDef="let element" style="text-align: center;"> {{element.cantidad | number}} </td>
    </ng-container>
    <ng-container matColumnDef="Nombre" *ngIf="mostrar!=null">
      <th mat-header-cell *matHeaderCellDef> Finca</th>
      <td mat-cell *matCellDef="let element" style="text-align: center;"> {{element.nombre | uppercase}} </td>
    </ng-container>
    <ng-container matColumnDef="Municipio" *ngIf="mostrar!=null">
      <th mat-header-cell *matHeaderCellDef> Municipio/Departamento</th>
      <td mat-cell *matCellDef="let element" style="text-align: center;"> {{element.municipio + '/' +
        element.departamento | uppercase}} </td>
    </ng-container>

    <ng-container matColumnDef="Direccion" *ngIf="mostrar!=null">
      <th mat-header-cell *matHeaderCellDef> Dirección</th>
      <td mat-cell *matCellDef="let element" style="text-align: center;"> {{element.direccion| uppercase}} </td>
    </ng-container>
    <ng-container matColumnDef="Borrar" *ngIf="mostrar!=null">
      <th mat-header-cell *matHeaderCellDef> Borrar</th>
      <td mat-cell *matCellDef="let element" style="text-align: center;"> <button type="button" mat-mini-fab
          class="buttton-aldea" aria-label="fecha" (click)="AbrirEliminar(element)" color="primary">
          <mat-icon>delete_forever</mat-icon>
        </button> </td>
    </ng-container>
    <ng-container matColumnDef="Editar" *ngIf="mostrar!=null">
      <th mat-header-cell *matHeaderCellDef> Editar</th>
      <td mat-cell *matCellDef="let element" style="text-align: center;"> <button type="button" mat-mini-fab
          class="buttton-aldea" aria-label="fecha" (click)="AbrirEditar(element)">
          <mat-icon>edit</mat-icon>
        </button> </td>
    </ng-container>
    <ng-container matColumnDef="asociar" *ngIf="this.asociar != null && this.asociar == true">
      <th mat-header-cell *matHeaderCellDef> Asociar</th>
      <td mat-cell *matCellDef="let element" style="text-align: center;"> <button type="button" mat-mini-fab
          class="buttton-aldea" aria-label="fecha" (click)="AsociarLote(element)" color="primary">
          <mat-icon>download</mat-icon>
        </button> </td>
    </ng-container>
    <ng-container matColumnDef="desasociar" *ngIf="this.asociar != null && this.asociar == false">
      <th mat-header-cell *matHeaderCellDef> desAsociar</th>
      <td mat-cell *matCellDef="let element" style="text-align: center;">
        <button type="button" mat-mini-fab color="primary" class="buttton-aldea" aria-label="fecha"
          (click)="Quitar(element)">
          <mat-icon>file_upload</mat-icon>
        </button>
      </td>
    </ng-container>
    <ng-container matColumnDef="verCertificado" *ngIf="this.asociar != null && this.asociar == false">
      <th mat-header-cell *matHeaderCellDef> Ver Certificado</th>
      <td mat-cell *matCellDef="let element" style="text-align: center;">
        <button type="button" mat-mini-fab color="primary" class="buttton-aldea" aria-label="fecha"
          (click)="VerCertificado(element)">
          <mat-icon>verified_user</mat-icon>
        </button>
      </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  <mat-paginator [pageSizeOptions]="[15, 30, 50]" showFirstLastButtons></mat-paginator>
</div>