ion-card-content{
    font-size: 14px;
    line-height: 1.2;
}
ion-label {
    font-size: 9px;

}

.selectNuevo{
  color: #f33d01;
  // font-weight: bold;
  font-size: 14px;
  // left: auto!important;
  overflow: hidden;
  text-overflow: "---";

}

.item-select select {
  // max-width: 100%!important;
  // width: 100%!important;
  left: auto!important;
  // direction: ltr!important;
  // padding-left: 0!important;
}
.hielo{
    color: rgb(14, 105, 179);
    // font-weight: bold;
    font-size: 14px;


  }
  .centrarIcon{
    padding-top: 18px;
  }
  .hielo_v2{
    color: rgb(14, 105, 179);
    font-size: 18px;


  }
  .hielo_v3{
    color: rgb(14, 105, 179);
    font-size: 18px;
    text-align: center;


  }
  .bandeja{
  
    color: #f33d01;
    // font-weight: bold;
    font-size: 14px;
  }

  .bandeja_center{
  
    color: #f33d01;
    // font-weight: bold;
    font-size: 16px;
    text-align: center;
  }

  .bandeja_fechas{
  
    color: #f33d01;
    font-size: 14px;

  }

  .center{
  
    color: #f33d01;
    font-weight: bold;
    font-size: 14px;
    text-align: center;

  }

  .ajuste{
    height: 100%;
  
    ion-row {
      height: 11.11%;
    }
  }
