<app-header titulo="Registro Mortalidad" icon="heart-dislike-circle-outline"></app-header>

<ion-content>

  <ion-card>
    <ion-card-header>
      <ion-card-title class="center">Procedimiento de Quejas y Reclamos</ion-card-title>
    </ion-card-header>
    <ion-card-content>

      <ion-slides #slides (ionSlidesDidLoad)="bloquear()" [options]="slideOpts">
        <ion-slide>

          <ion-grid cols="3" rowHeight="1:1" style="padding-bottom: 10px;">
            <ion-row>
              <ion-col class="text-center">
                <ion-label class="bandeja">
                  TEMPERATURA DE LAS OVAS
                </ion-label>
              </ion-col>
            </ion-row>
            <form [formGroup]="formGroupTemperatura">

              <ion-row>
                <ion-col size="4" class="text-center">
                  <ion-item>
                    <ion-label class="bandeja" position="floating">
                      SUPERIOR
                    </ion-label>
                    <ion-input required type="tel" min="0" max="40" formControlName="superior"
                      [(ngModel)]="registro.temp_bandeja_superior"></ion-input>
                    <!-- <small color="red" *ngIf="bsuperior.value>40" class="invalid-feedback d-block">
                    Temperatura no valida
                  </small> -->
                  </ion-item>

                </ion-col>

                <ion-col size="4" class="text-center">
                  <ion-item>
                    <ion-label style="font-weight: bold;" class="bandeja" position="floating">
                      MEDIA

                    </ion-label>
                    <ion-input required type="tel" min="0" max="40" formControlName="mitad"
                      [(ngModel)]="registro.temp_bandeja_intermedia"></ion-input>
                    <!-- <small color="red" *ngIf="bmedia.value>40" class="invalid-feedback d-block">
                    Temperatura no valida
                  </small> -->
                  </ion-item>

                </ion-col>
                <ion-col size="4" class="text-center">
                  <ion-item>
                    <ion-label style="font-weight: bold;" class="bandeja" position="floating">
                      INFERIOR

                    </ion-label>
                    <ion-input required type="tel" min="0" max="40" formControlName="inferior"
                      [(ngModel)]="registro.temp_bandeja_inferior"></ion-input>
                    <!-- <small color="red" *ngIf="binferior.value>40" class="invalid-feedback d-block">
                    Temperatura no valida
                  </small> -->
                  </ion-item>

                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col class="text-center">
                  <ion-label class="hielo">
                    PORCENTAJE HIELO
                  </ion-label>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col size="4" class="text-center">
                  <ion-item>
                    <ion-label class="hielo" position="floating">
                      SUPERIOR
                    </ion-label>
                    <ion-input required type="tel" min="0" max="100" formControlName="superior2"
                      [(ngModel)]="registro.hielo_bandeja_superior"></ion-input>

                  </ion-item>

                </ion-col>

                <ion-col size="4" class="text-center">
                  <ion-item>
                    <ion-label style="font-weight: bold;" class="hielo" position="floating">
                      MEDIA

                    </ion-label>
                    <ion-input required type="tel" min="0" max="100" formControlName="mitad2"
                      [(ngModel)]="registro.hielo_bandeja_intermedia"></ion-input>

                  </ion-item>

                </ion-col>
                <ion-col size="4" class="text-center">
                  <ion-item>
                    <ion-label style="font-weight: bold;" class="hielo" position="floating">
                      INFERIOR

                    </ion-label>
                    <ion-input formControlName="inferior2" required type="tel" min="0" max="100"
                      [(ngModel)]="registro.hielo_bandeja_inferior"></ion-input>

                  </ion-item>

                </ion-col>

              </ion-row>
            </form>

          </ion-grid>


        </ion-slide>

     

        <ion-slide>
          <app-mortalidadpreguntas [preguntas]="preguntas"></app-mortalidadpreguntas>

        </ion-slide>

        <ion-slide>
          <app-mortalidadpreguntas [preguntas]="preguntas"></app-mortalidadpreguntas>

        </ion-slide>

      </ion-slides>

      <ion-grid cols="3" rowHeight="1:1" style="padding-bottom: 10px;">
        <ion-row>
          <ion-col class="center">
            <ion-button float-center ion-button *ngIf="formValidar!=0"
             shape="round" color="primary" class="btnPrev" (click)="prev()">Prev
            </ion-button>
          </ion-col>
          <ion-col>
          </ion-col>
          <ion-col class="center">
            <ion-button float-center ion-button shape="round" color="primary" class="btnNext" (click)="next()">Next
            </ion-button>
          </ion-col>
        </ion-row>

      </ion-grid>



    </ion-card-content>
  </ion-card>
</ion-content>