ion-card-content{
    font-size: 9px;
    line-height: 1.2;
}
ion-label {
    font-size: 9px;

}

.selectNuevo{
  color: #f33d01;
  font-weight: bold;
  font-size: 13px;
  // left: auto!important;
  overflow: hidden;
  text-overflow: "---";

}

.item-select select {
  // max-width: 100%!important;
  // width: 100%!important;
  left: auto!important;
  // direction: ltr!important;
  // padding-left: 0!important;
}
.hielo{
    color: rgb(14, 105, 179);
    font-weight: bold;
    font-size: 12px;


  }
  .bandeja{
  
    color: #f33d01;
    font-weight: bold;
    font-size: 9px;

  }

  .center{
  
    color: #f33d01;
    font-weight: bold;
    font-size: 9px;
    text-align: center;

  }