<ion-list lines="none">
  <ion-list-header lines="inset">
    <ion-label class="blue">Informes Técnicos</ion-label>
  </ion-list-header>

  <ion-item-sliding *ngFor="let informe of informes">
    <!-- <ion-item-options side="start">
      <ion-item-option (click)="favorite(item)">Favorite</ion-item-option>
      <ion-item-option color="danger" (click)="share(item)">Share</ion-item-option>
    </ion-item-options> -->

    <ion-item detail>
      <ion-avatar slot="start">
        <img src="./assets/avatars/av-2.png">
      </ion-avatar>

      <div style="white-space: pre-wrap; " class="ion-text-left blueJustify">

        <ion-note slot="end">
          {{informe.fecha_salida}}
        </ion-note>
        <p>{{informe.observaciones}}</p>

       
      </div>
    </ion-item>

    <ion-item-options side="end">
      <ion-item-option (click)="leer(informe)" expandable>
        <ion-icon slot="icon-only" name="glasses-outline"></ion-icon>
      </ion-item-option>
    </ion-item-options>
  </ion-item-sliding>

  
  <ion-card *ngIf="informes.length==0">
    <ion-card-header>
      <ion-card-title class="bandejaexitoso">Sin Reportes</ion-card-title>
      <ion-grid cols="1" rowHeight="1:1" fixed>
        <ion-row style="text-align: center">
          <ion-col>

          </ion-col>
          <ion-col>
            <img src="./assets/avatars/av-4.png">

          </ion-col>
          <ion-col>

          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <p class="exitoso">
              Aun no tienes Reportes de mortalidad registrados
            </p>
            <ion-back-button  defaultHref="/"  color="primary" ></ion-back-button>

          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-header>
    <ion-card-content>
    </ion-card-content>
  </ion-card>
</ion-list>