<div class="container">
<mat-horizontal-stepper [linear]="false">
  <mat-step [stepControl]="firstFormGroup">
    <form [formGroup]="firstFormGroup" class="registroDespacho" (ngSubmit)="onRegister(firstFormGroup)">
      <ng-template matStepLabel>Registro del despacho</ng-template>
      <br>
      <div class="row">
        <div class="col-12 main-blue-text">
          <label>{{title}}</label>
        </div>
      </div>
    
      <div class="row">
        <div class="col-3"></div>
        <div class=col-3>
    
    
    
          <mat-form-field appearance="fill">
            <mat-label>Fecha de entrada</mat-label>
            <input matInput formControlName="FechaEntrada" [matDatepicker]="pickerentrada"
              ng-keydown="$event.preventDefault();" [min]="minDate" [max]="maxDate" [(ngModel)]="despacho.fechaEntrada" required>
            <mat-datepicker-toggle matSuffix [for]="pickerentrada">
            </mat-datepicker-toggle>
            <mat-datepicker touchUi #pickerentrada></mat-datepicker>
            <!-- <input type="button" value="Agregar Fecha"/> -->
    
          </mat-form-field>
        </div>
        <div class=col-3>
    
    
    
          <mat-form-field appearance="fill">
            <mat-label>Fecha de Salida</mat-label>
            <input matInput formControlName="FechaSalida" [matDatepicker]="pickersalida"
              ng-keydown="$event.preventDefault();" [min]="despacho.fechaEntrada" [max]="maxDate" [(ngModel)]="despacho.fechaEntrega" required>
            <mat-datepicker-toggle matSuffix [for]="pickersalida">
            </mat-datepicker-toggle>
            <mat-datepicker touchUi #pickersalida></mat-datepicker>
            <!-- <input type="button" value="Agregar Fecha"/> -->
    
          </mat-form-field>
        </div>
        <div class="col-3"></div>

      </div>
    
      <div class="row">
        <div class="col-3"></div>
    
        <div class=col-6>
    
          <mat-form-field appearance="fill">
            <mat-label>Numero de Factura</mat-label>
            <input matInput [(ngModel)]="despacho.numero_factura" formControlName="NumeroFactura" required />
    
          </mat-form-field>
    
        </div>
        <div class="col-3"></div>

      </div>
    
      <div class="row">
        <div class="col-3"></div>

    
        <div class=col-6>
    
          <mat-form-field appearance="fill">
            <mat-label>Numero de Ovas aproximadas</mat-label>
            <input matInput type="number" [(ngModel)]="despacho.numero_ovas" formControlName="NumeroDeOvas" required />
          </mat-form-field>
    
        </div>
        <div class="col-3"></div>

      </div>
    
      <div class="row">
        <div class="col-3"></div>

    
        <div class=col-6>
    
          <mat-form-field appearance="fill">
            <mat-label>% Adicional</mat-label>
            <input matInput type="number" [(ngModel)]="despacho.porcentaje"
             formControlName="Porcentaje" required min="0" max="100"/>
          </mat-form-field>
    
        </div>

        <div class="col-3"></div>

    
      </div>


      <div class="row">
        <div class="col-3"></div>

    
        <div class=col-6>
    
          <button  mat-raised-button 
          type="submit" class="btn btn-primary btn-block" [disabled]="!firstFormGroup.valid">
            Crear Despacho
          </button>
    
        </div>

        <div class="col-3"></div>

    
      </div>
     
    
    </form>
  </mat-step>

</mat-horizontal-stepper>
</div>
<!-- <div class="col-md-12 mt-2">
  <h1>{{ title }}</h1>

  <p>
    Si eres, un comprador recurrente de nuestros productos, registrate para
    tener todo a la mano.
  </p>

  <div class="card" style="width: 50%;">
    <div class="card-body">
      <h5 class="card-title">Datos Del despacho</h5>
      <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
      <p class="card-text">En esta Seccion Empezaremos a crear Nuestros Despachos</p>

    </div>
    <form #crearDespachoform="ngForm"  (ngSubmit)="onRegister(crearDespachoform)">
      <div class="col-xs-12 col-12 form-group">
        <label>Fecha Despacho</label>
        <input name="date" type="text" placeholder="Fecha Del despacho" class="form-control"
          bsDatepicker [(bsValue)]="myDateValue"
          ng-keydown="$event.preventDefault();" [minDate]="minDate" [maxDate]="maxDate"
          #name="ngModel" [(ngModel)]="despacho.fecha"
          (bsValueChange)="onDateChange($event)"
          required
          />
          <br>
          <pre class="col-xs-12 col-12" *ngIf="crearDespachoform.value.date" class="code-preview">{{crearDespachoform.value.date | date}}</pre>
      </div>
      <div class="col-xs-12 col-12 form-group">
        <label>Número de Factura</label>
        <input name="numeroFactura" type="text" placeholder="Numero de Factura" class="form-control"
        #name="ngModel" [(ngModel)]="despacho.numero_factura"
        required
        />
      </div>
      <div class="col-xs-12 col-12  form-group">
        <label>Número de Ovas</label>
        <input name="numeroOvas" type="number" placeholder="Numero de Ovas" class="form-control"
        #name="ngModel" [(ngModel)]="despacho.numero_ovas"
        required />
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-primary btn-block" [disabled]="!crearDespachoform.valid">
          Crear Despacho
        </button>
      </div>
    </form>

  </div>

</div> -->