<div class="container alternate-theme">

    <mat-horizontal-stepper [linear]="false" #stepper>


        <mat-step [stepControl]="firstFormGroup">
            <ng-template matStepLabel>Informes Registrados</ng-template>
            <mat-card class="example-card">

                <mat-card-header>
                    <div mat-card-avatar class="example-header-image"
                        style="background-image: url('assets/avatars/av-6.png')"></div>
                    <mat-card-title class="main-surala-text">Registros Técnicos</mat-card-title>
                    <mat-card-subtitle>Truchas Surala</mat-card-subtitle>
                    <mat-card-subtitle class="surala-azul-text">Informes Relacionados</mat-card-subtitle>

                </mat-card-header>
               
                <mat-card-content>
                    <button mat-raised-button #buton id="logout-button" class="btn btn-primary btn-block"
                    style="width:6%" color="primary" (click)="traerInformacion()">
                    <mat-icon>refresh</mat-icon>
                </button>
                    <div class="table-responsive" >
                        <table id="customers" matTableExporter #exporter="matTableExporter" mat-table
                            [dataSource]="dataSource" class="mat-elevation-z8">
                            <ng-container matColumnDef="position">
                                <th mat-header-cell *matHeaderCellDef> No. </th>
                                <td mat-cell *matCellDef="let element; let i = index"> {{i + 1}} </td>
                            </ng-container>

                            <ng-container matColumnDef="fecha_creacion">
                                <th mat-header-cell *matHeaderCellDef> Fecha Creacion </th>
                                <td mat-cell *matCellDef="let element">
                                    {{ element.created_at.replace(' 00:00:00', 'T00:00:00') |date :"MMM/dd/yyyy" | uppercase }}
                                </td>
                            </ng-container>

                            <ng-container matColumnDef="fecha_visita">
                                <th mat-header-cell *matHeaderCellDef> Fecha Visita </th>
                                <td mat-cell *matCellDef="let element">
                                    {{ element.fecha_visita.replace(' 00:00:00', 'T00:00:00') |date :"MMM/dd/yyyy" | uppercase }}
                                </td>
                            </ng-container>


                            <ng-container matColumnDef="nombre">
                                <th mat-header-cell *matHeaderCellDef> Nombre</th>
                                <td mat-cell *matCellDef="let element"> {{element.nombre | uppercase}} </td>
                            </ng-container>

                            <ng-container matColumnDef="observaciones">
                                <th mat-header-cell *matHeaderCellDef> observaciones</th>
                                <td mat-cell *matCellDef="let element"> {{element.observaciones | uppercase}} </td>
                            </ng-container>

                            <ng-container matColumnDef="seleccionar">
                                <th mat-header-cell *matHeaderCellDef> Informe Técnico</th>
                                <td mat-cell *matCellDef="let element">
                                    <button mat-raised-button color="secondary" id="logout-button"
                                        class="btn btn-primary btn-block" style="width:50%"
                                        (click)="Ver(element)">Ver</button></td>
                            </ng-container>

                         
                            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                        </table>
                        <mat-paginator [pageSizeOptions]="[15, 30, 50]" showFirstLastButtons></mat-paginator>
                    </div>

                   
                  
                </mat-card-content>
            </mat-card>
            
        </mat-step>

        <mat-step>
            <ng-template matStepLabel>Detalle Informes</ng-template>
            <div *ngIf="seleccionado!=null">

                <form [formGroup]="secondFormGroup" style="width: 100%;">

                        <mat-label>Fecha del informe   {{ seleccionado.fecha_visita.replace(' 00:00:00', 'T00:00:00') |date :"MMM/dd/yyyy" | uppercase }}</mat-label>

                    <mat-form-field [style.fontSize]="'15px'">
                        <mat-label>OBSERVACIONES</mat-label>
                        <textarea matInput cdkTextareaAutosize #autosize="cdkTextareaAutosize" cdkAutosizeMinRows="1"
                            cdkAutosizeMaxRows="10" [(ngModel)]="ObservacionesNuevas" (blur)="ActivarActualizar()"
                            formControlName="observaciones"></textarea>
                    </mat-form-field>

                </form>
                <mat-chip-list class="mat-chip-list-stacked centrarObjetos" aria-label="Color selection">

                    <mat-chip (click)="VerInforme(1, seleccionado)"
                        [class]="seleccionado.informeTecnico==null? 'colorCheck':'colorPendiente'"> Informes Técnicos
                    </mat-chip>
                    <mat-chip (click)="VerInforme(2, seleccionado)"
                        [class]="seleccionado.archivo_pcr==null?  'colorCheck':'colorPendiente'"> Laboratorio PSR
                    </mat-chip>
                    <mat-chip (click)="VerInforme(3, seleccionado)"
                        [class]="seleccionado.histopatologia == null ?  'colorCheck':'colorPendiente'">Laboratorio
                        Histopatologia</mat-chip>
                    <mat-chip (click)="VerInforme(4, seleccionado)"
                        [class]="seleccionado.laboratorioNutricional== null? 'colorCheck':'colorPendiente'">Laboratorio
                        Nutricional</mat-chip>

                </mat-chip-list>
            </div>

            
            <div class="row" style="text-align: center;"  >
                <div class="col-6">
                    <button type="button" matStepperPrevious mat-raised-button color="primary"
                        >Atras</button>
    
                </div>
                <div class="col-6">
                  <button matStepperNext mat-raised-button color="secondary" (click)="actualizarInforme()" [disabled]="!Actualizar">Guardar</button>
                </div>
          
               
          
              </div>

        </mat-step>




    </mat-horizontal-stepper>

</div>