<div *ngIf="pedido">
  <div *ngIf="!pedido.genero_trazabilida">

    <button mat-raised-button id="logout-button" class="btn btn-primary btn-block" style="width:50%"
      (click)="open()">Agregar Distribucion</button>


    <label  *ngIf="pedido.genero_trazabilida" color="red">Ya generaste distribución</label>
  </div>
</div>
<ng-template let-modal>
  <div #mymodal>
    <app-creardistribucion *ngIf="
    pedido"></app-creardistribucion>

  </div>
</ng-template>

<app-lista [distribuciones]="distribuciones"></app-lista>
