<div class="container">

  <br>
  <div *ngIf="pedido">
    <mat-card>
      <mat-card-title>Pedido</mat-card-title>
      <mat-card-subtitle>Total Pedido {{pedido.total | number}}</mat-card-subtitle>
      <mat-card-content>
        <div class="container">
          <div class="row">
            <div class="col">
              <label>Pedido => {{pedido.pedido | number}}</label>
            </div>
            <div class="col">
              <label>Adicional => {{pedido.porcentaje | number}}%</label>
            </div>
            <div class="col">
              <label>Ovas Adicionales => {{pedido.adicional | number}}</label>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <label>Reposicion => {{pedido.reposicion | number}}</label>

            </div>

            <div class="col">


            </div>

          </div>
        </div>

        <br>
      </mat-card-content>

    </mat-card>

    <div class="row" style="align-content: center;margin: auto;">
      <div class="col-4"></div>

      <div class="col-6">
        <div *ngIf="!pedido.genero_trazabilidad">

          <button mat-raised-button id="logout-button" class="btn btn-primary btn-block" style="width:50%"
            (click)="open()">Agregar Distribucion</button>
        </div>


      </div>
      <div class="col-3"></div>
       <span><a *ngIf="pedido.genero_trazabilidad" [routerLink]="['/surala/distribucion/ver/', pedido.id]">
        Ver Trazabilidad </a>
       </span>
      <label *ngIf="pedido.genero_trazabilidad" color="red">Ya generaste distribución</label>
    </div>
  </div>
  <ng-template let-modal>
    <div #mymodal>
      <app-creardistribucion *ngIf="
    pedido"></app-creardistribucion>

    </div>
  </ng-template>

  <app-lista [idPedido]="id"></app-lista>
</div>