div.swiper-pagination {
    top: 0px !important;
    bottom:inherit;
 }

 .swiper-pagination-fraction, .swiper-pagination-custom, .swiper-container-horizontal>.swiper-pagination-bullets{
    top: 0px !important;

 }